In [1]:
import numpy as np
import pandas as pd 
import graphlab as gl
from sklearn import preprocessing

In [2]:

df = pd.read_csv("C:\Users\student04\Desktop\santander proiject\GraphLabData.csv", dtype={'indrel_1mes': str, 'conyuemp': str})

In [3]:
df.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,28/05/2016,657640,N,ES,H,68,17/11/2006,0.0,114.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,28/05/2016,657788,N,ES,H,42,18/11/2006,0.0,114.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,28/05/2016,657795,N,ES,V,44,18/11/2006,0.0,114.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,28/05/2016,657790,N,ES,V,42,18/11/2006,0.0,114.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0
4,28/05/2016,657794,N,ES,H,49,18/11/2006,0.0,114.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df.dtypes
#We do not want columns to be of type object because we can not put them into SFrame later when using the algorithms
#The data types are also too large

fecha_dato                object
ncodpers                   int64
ind_empleado              object
pais_residencia           object
sexo                      object
age                        int64
fecha_alta                object
ind_nuevo                float64
antiguedad               float64
indrel                   float64
ult_fec_cli_1t            object
indrel_1mes               object
tiprel_1mes               object
indresi                   object
indext                    object
conyuemp                  object
canal_entrada             object
indfall                   object
tipodom                  float64
cod_prov                 float64
nomprov                   object
ind_actividad_cliente    float64
renta                    float64
segmento                  object
ind_ahor_fin_ult1        float64
ind_aval_fin_ult1        float64
ind_cco_fin_ult1         float64
ind_cder_fin_ult1        float64
ind_cno_fin_ult1         float64
ind_ctju_fin_ult1        float64
ind_ctma_fin_ult1        float64
ind_ctop_fin_ult1        float64
ind_ctpp_fin_ult1        float64
ind_deco_fin_ult1        float64
ind_deme_fin_ult1        float64
ind_dela_fin_ult1        float64
ind_ecue_fin_ult1        float64
ind_fond_fin_ult1        float64
ind_hip_fin_ult1         float64
ind_plan_fin_ult1        float64
ind_pres_fin_ult1        float64
ind_reca_fin_ult1        float64
ind_tjcr_fin_ult1        float64
ind_valo_fin_ult1        float64
ind_viv_fin_ult1         float64
ind_nomina_ult1          float64
ind_nom_pens_ult1        float64
ind_recibo_ult1          float64
dtype: object

In [5]:
#We change the objects and complete preprocessing
for f in df.columns:
    if df[f].dtype == 'object':
        print(f)
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(df[f].values))
        df[f] = lbl.transform(list(df[f].values))

fecha_dato
ind_empleado
pais_residencia
sexo
fecha_alta
ult_fec_cli_1t
indrel_1mes
tiprel_1mes
indresi
indext
conyuemp
canal_entrada
indfall
nomprov
segmento

In [6]:
for x in df.columns:
    if df[x].dtypes == 'int64':
        df[x] = df[x].astype('int32')
    if df[x].dtypes == 'float64':
        df[x] = df[x].astype('float32')

In [7]:
df.dtypes

fecha_dato                 int32
ncodpers                   int32
ind_empleado               int32
pais_residencia            int32
sexo                       int32
age                        int32
fecha_alta                 int32
ind_nuevo                float32
antiguedad               float32
indrel                   float32
ult_fec_cli_1t             int32
indrel_1mes                int32
tiprel_1mes                int32
indresi                    int32
indext                     int32
conyuemp                   int32
canal_entrada              int32
indfall                    int32
tipodom                  float32
cod_prov                 float32
nomprov                    int32
ind_actividad_cliente    float32
renta                    float32
segmento                   int32
ind_ahor_fin_ult1        float32
ind_aval_fin_ult1        float32
ind_cco_fin_ult1         float32
ind_cder_fin_ult1        float32
ind_cno_fin_ult1         float32
ind_ctju_fin_ult1        float32
ind_ctma_fin_ult1        float32
ind_ctop_fin_ult1        float32
ind_ctpp_fin_ult1        float32
ind_deco_fin_ult1        float32
ind_deme_fin_ult1        float32
ind_dela_fin_ult1        float32
ind_ecue_fin_ult1        float32
ind_fond_fin_ult1        float32
ind_hip_fin_ult1         float32
ind_plan_fin_ult1        float32
ind_pres_fin_ult1        float32
ind_reca_fin_ult1        float32
ind_tjcr_fin_ult1        float32
ind_valo_fin_ult1        float32
ind_viv_fin_ult1         float32
ind_nomina_ult1          float32
ind_nom_pens_ult1        float32
ind_recibo_ult1          float32
dtype: object

In [8]:
products = df[['ind_ahor_fin_ult1','ind_aval_fin_ult1','ind_cco_fin_ult1','ind_cder_fin_ult1','ind_cno_fin_ult1','ind_ctju_fin_ult1','ind_ctma_fin_ult1','ind_ctop_fin_ult1']]

In [9]:
products.head()

,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [10]:
products = products.loc[:931435]

In [11]:
# changing the floiats into int
for x in products.columns:
    if products[x].dtypes == 'float32':
        products[x] = products[x].astype('int32')

In [12]:
# checking the data types of our product columns
products.dtypes

ind_ahor_fin_ult1    int32
ind_aval_fin_ult1    int32
ind_cco_fin_ult1     int32
ind_cder_fin_ult1    int32
ind_cno_fin_ult1     int32
ind_ctju_fin_ult1    int32
ind_ctma_fin_ult1    int32
ind_ctop_fin_ult1    int32
dtype: object

In [13]:
stack_products = products.stack().to_frame()

In [14]:
# creating a dataframe with the userids or ncodpers
users = df['ncodpers']

In [15]:

users.head().to_frame()

   ncodpers
0    657640
1    657788
2    657795
3    657790
4    657794

In [16]:
# creating an array with the userids
a = np.array(users)
# we are trying with less products and check if the similarity rec eng will work
values = np.repeat(a,8)
usersDF = pd.DataFrame(values)
usersDF

               0
0         657640
1         657640
2         657640
3         657640
4         657640
5         657640
6         657640
7         657640
8         657788
9         657788
10        657788
11        657788
12        657788
13        657788
14        657788
15        657788
16        657795
17        657795
18        657795
19        657795
20        657795
21        657795
22        657795
23        657795
24        657790
25        657790
26        657790
27        657790
28        657790
29        657790
...          ...
7451466  1166780
7451467  1166780
7451468  1166780
7451469  1166780
7451470  1166780
7451471  1166780
7451472  1166779
7451473  1166779
7451474  1166779
7451475  1166779
7451476  1166779
7451477  1166779
7451478  1166779
7451479  1166779
7451480  1166778
7451481  1166778
7451482  1166778
7451483  1166778
7451484  1166778
7451485  1166778
7451486  1166778
7451487  1166778
7451488  1166777
7451489  1166777
7451490  1166777
7451491  1166777
7451492  1166777
7451493  1166777
7451494  1166777
7451495  1166777

[7451496 rows x 1 columns]

In [17]:
stack_prod = stack_products.reset_index()

In [18]:
stack_prod

         level_0            level_1  0
0              0  ind_ahor_fin_ult1  0
1              0  ind_aval_fin_ult1  0
2              0   ind_cco_fin_ult1  0
3              0  ind_cder_fin_ult1  0
4              0   ind_cno_fin_ult1  0
5              0  ind_ctju_fin_ult1  0
6              0  ind_ctma_fin_ult1  0
7              0  ind_ctop_fin_ult1  0
8              1  ind_ahor_fin_ult1  0
9              1  ind_aval_fin_ult1  0
10             1   ind_cco_fin_ult1  1
11             1  ind_cder_fin_ult1  0
12             1   ind_cno_fin_ult1  0
13             1  ind_ctju_fin_ult1  0
14             1  ind_ctma_fin_ult1  0
15             1  ind_ctop_fin_ult1  0
16             2  ind_ahor_fin_ult1  0
17             2  ind_aval_fin_ult1  0
18             2   ind_cco_fin_ult1  1
19             2  ind_cder_fin_ult1  0
20             2   ind_cno_fin_ult1  0
21             2  ind_ctju_fin_ult1  0
22             2  ind_ctma_fin_ult1  0
23             2  ind_ctop_fin_ult1  0
24             3  ind_ahor_fin_ult1  0
25             3  ind_aval_fin_ult1  0
26             3   ind_cco_fin_ult1  0
27             3  ind_cder_fin_ult1  0
28             3   ind_cno_fin_ult1  1
29             3  ind_ctju_fin_ult1  0
...          ...                ... ..
7451458   931432   ind_cco_fin_ult1  1
7451459   931432  ind_cder_fin_ult1  0
7451460   931432   ind_cno_fin_ult1  0
7451461   931432  ind_ctju_fin_ult1  0
7451462   931432  ind_ctma_fin_ult1  0
7451463   931432  ind_ctop_fin_ult1  0
7451464   931433  ind_ahor_fin_ult1  0
7451465   931433  ind_aval_fin_ult1  0
7451466   931433   ind_cco_fin_ult1  1
7451467   931433  ind_cder_fin_ult1  0
7451468   931433   ind_cno_fin_ult1  0
7451469   931433  ind_ctju_fin_ult1  0
7451470   931433  ind_ctma_fin_ult1  0
7451471   931433  ind_ctop_fin_ult1  0
7451472   931434  ind_ahor_fin_ult1  0
7451473   931434  ind_aval_fin_ult1  0
7451474   931434   ind_cco_fin_ult1  1
7451475   931434  ind_cder_fin_ult1  0
7451476   931434   ind_cno_fin_ult1  0
7451477   931434  ind_ctju_fin_ult1  0
7451478   931434  ind_ctma_fin_ult1  0
7451479   931434  ind_ctop_fin_ult1  0
7451480   931435  ind_ahor_fin_ult1  0
7451481   931435  ind_aval_fin_ult1  0
7451482   931435   ind_cco_fin_ult1  1
7451483   931435  ind_cder_fin_ult1  0
7451484   931435   ind_cno_fin_ult1  0
7451485   931435  ind_ctju_fin_ult1  0
7451486   931435  ind_ctma_fin_ult1  0
7451487   931435  ind_ctop_fin_ult1  0

[7451488 rows x 3 columns]

In [19]:
results1 = pd.concat([usersDF,stack_prod], axis=1)
results1

               0   level_0            level_1    0
0         657640       0.0  ind_ahor_fin_ult1  0.0
1         657640       0.0  ind_aval_fin_ult1  0.0
2         657640       0.0   ind_cco_fin_ult1  0.0
3         657640       0.0  ind_cder_fin_ult1  0.0
4         657640       0.0   ind_cno_fin_ult1  0.0
5         657640       0.0  ind_ctju_fin_ult1  0.0
6         657640       0.0  ind_ctma_fin_ult1  0.0
7         657640       0.0  ind_ctop_fin_ult1  0.0
8         657788       1.0  ind_ahor_fin_ult1  0.0
9         657788       1.0  ind_aval_fin_ult1  0.0
10        657788       1.0   ind_cco_fin_ult1  1.0
11        657788       1.0  ind_cder_fin_ult1  0.0
12        657788       1.0   ind_cno_fin_ult1  0.0
13        657788       1.0  ind_ctju_fin_ult1  0.0
14        657788       1.0  ind_ctma_fin_ult1  0.0
15        657788       1.0  ind_ctop_fin_ult1  0.0
16        657795       2.0  ind_ahor_fin_ult1  0.0
17        657795       2.0  ind_aval_fin_ult1  0.0
18        657795       2.0   ind_cco_fin_ult1  1.0
19        657795       2.0  ind_cder_fin_ult1  0.0
20        657795       2.0   ind_cno_fin_ult1  0.0
21        657795       2.0  ind_ctju_fin_ult1  0.0
22        657795       2.0  ind_ctma_fin_ult1  0.0
23        657795       2.0  ind_ctop_fin_ult1  0.0
24        657790       3.0  ind_ahor_fin_ult1  0.0
25        657790       3.0  ind_aval_fin_ult1  0.0
26        657790       3.0   ind_cco_fin_ult1  0.0
27        657790       3.0  ind_cder_fin_ult1  0.0
28        657790       3.0   ind_cno_fin_ult1  1.0
29        657790       3.0  ind_ctju_fin_ult1  0.0
...          ...       ...                ...  ...
7451466  1166780  931433.0   ind_cco_fin_ult1  1.0
7451467  1166780  931433.0  ind_cder_fin_ult1  0.0
7451468  1166780  931433.0   ind_cno_fin_ult1  0.0
7451469  1166780  931433.0  ind_ctju_fin_ult1  0.0
7451470  1166780  931433.0  ind_ctma_fin_ult1  0.0
7451471  1166780  931433.0  ind_ctop_fin_ult1  0.0
7451472  1166779  931434.0  ind_ahor_fin_ult1  0.0
7451473  1166779  931434.0  ind_aval_fin_ult1  0.0
7451474  1166779  931434.0   ind_cco_fin_ult1  1.0
7451475  1166779  931434.0  ind_cder_fin_ult1  0.0
7451476  1166779  931434.0   ind_cno_fin_ult1  0.0
7451477  1166779  931434.0  ind_ctju_fin_ult1  0.0
7451478  1166779  931434.0  ind_ctma_fin_ult1  0.0
7451479  1166779  931434.0  ind_ctop_fin_ult1  0.0
7451480  1166778  931435.0  ind_ahor_fin_ult1  0.0
7451481  1166778  931435.0  ind_aval_fin_ult1  0.0
7451482  1166778  931435.0   ind_cco_fin_ult1  1.0
7451483  1166778  931435.0  ind_cder_fin_ult1  0.0
7451484  1166778  931435.0   ind_cno_fin_ult1  0.0
7451485  1166778  931435.0  ind_ctju_fin_ult1  0.0
7451486  1166778  931435.0  ind_ctma_fin_ult1  0.0
7451487  1166778  931435.0  ind_ctop_fin_ult1  0.0
7451488  1166777       NaN                NaN  NaN
7451489  1166777       NaN                NaN  NaN
7451490  1166777       NaN                NaN  NaN
7451491  1166777       NaN                NaN  NaN
7451492  1166777       NaN                NaN  NaN
7451493  1166777       NaN                NaN  NaN
7451494  1166777       NaN                NaN  NaN
7451495  1166777       NaN                NaN  NaN

[7451496 rows x 4 columns]

In [20]:
results1.columns = ['ncodpers', 'whatever', 'product', 'Y/N']

In [21]:
results1.head()

   ncodpers  whatever            product  Y/N
0    657640       0.0  ind_ahor_fin_ult1  0.0
1    657640       0.0  ind_aval_fin_ult1  0.0
2    657640       0.0   ind_cco_fin_ult1  0.0
3    657640       0.0  ind_cder_fin_ult1  0.0
4    657640       0.0   ind_cno_fin_ult1  0.0

In [25]:
results = results1.loc[:7451487]

In [26]:
train_set = results[['ncodpers', 'product', 'Y/N']]

In [27]:
train_set

         ncodpers            product  Y/N
0          657640  ind_ahor_fin_ult1  0.0
1          657640  ind_aval_fin_ult1  0.0
2          657640   ind_cco_fin_ult1  0.0
3          657640  ind_cder_fin_ult1  0.0
4          657640   ind_cno_fin_ult1  0.0
5          657640  ind_ctju_fin_ult1  0.0
6          657640  ind_ctma_fin_ult1  0.0
7          657640  ind_ctop_fin_ult1  0.0
8          657788  ind_ahor_fin_ult1  0.0
9          657788  ind_aval_fin_ult1  0.0
10         657788   ind_cco_fin_ult1  1.0
11         657788  ind_cder_fin_ult1  0.0
12         657788   ind_cno_fin_ult1  0.0
13         657788  ind_ctju_fin_ult1  0.0
14         657788  ind_ctma_fin_ult1  0.0
15         657788  ind_ctop_fin_ult1  0.0
16         657795  ind_ahor_fin_ult1  0.0
17         657795  ind_aval_fin_ult1  0.0
18         657795   ind_cco_fin_ult1  1.0
19         657795  ind_cder_fin_ult1  0.0
20         657795   ind_cno_fin_ult1  0.0
21         657795  ind_ctju_fin_ult1  0.0
22         657795  ind_ctma_fin_ult1  0.0
23         657795  ind_ctop_fin_ult1  0.0
24         657790  ind_ahor_fin_ult1  0.0
25         657790  ind_aval_fin_ult1  0.0
26         657790   ind_cco_fin_ult1  0.0
27         657790  ind_cder_fin_ult1  0.0
28         657790   ind_cno_fin_ult1  1.0
29         657790  ind_ctju_fin_ult1  0.0
...           ...                ...  ...
7451458   1166781   ind_cco_fin_ult1  1.0
7451459   1166781  ind_cder_fin_ult1  0.0
7451460   1166781   ind_cno_fin_ult1  0.0
7451461   1166781  ind_ctju_fin_ult1  0.0
7451462   1166781  ind_ctma_fin_ult1  0.0
7451463   1166781  ind_ctop_fin_ult1  0.0
7451464   1166780  ind_ahor_fin_ult1  0.0
7451465   1166780  ind_aval_fin_ult1  0.0
7451466   1166780   ind_cco_fin_ult1  1.0
7451467   1166780  ind_cder_fin_ult1  0.0
7451468   1166780   ind_cno_fin_ult1  0.0
7451469   1166780  ind_ctju_fin_ult1  0.0
7451470   1166780  ind_ctma_fin_ult1  0.0
7451471   1166780  ind_ctop_fin_ult1  0.0
7451472   1166779  ind_ahor_fin_ult1  0.0
7451473   1166779  ind_aval_fin_ult1  0.0
7451474   1166779   ind_cco_fin_ult1  1.0
7451475   1166779  ind_cder_fin_ult1  0.0
7451476   1166779   ind_cno_fin_ult1  0.0
7451477   1166779  ind_ctju_fin_ult1  0.0
7451478   1166779  ind_ctma_fin_ult1  0.0
7451479   1166779  ind_ctop_fin_ult1  0.0
7451480   1166778  ind_ahor_fin_ult1  0.0
7451481   1166778  ind_aval_fin_ult1  0.0
7451482   1166778   ind_cco_fin_ult1  1.0
7451483   1166778  ind_cder_fin_ult1  0.0
7451484   1166778   ind_cno_fin_ult1  0.0
7451485   1166778  ind_ctju_fin_ult1  0.0
7451486   1166778  ind_ctma_fin_ult1  0.0
7451487   1166778  ind_ctop_fin_ult1  0.0

[7451488 rows x 3 columns]

In [28]:
train_set2 = gl.SFrame(train_set)

This non-commercial license of GraphLab Create for academic use is assigned to anyfantisgeorgios@gmail.com and will expire on January 04, 2018.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\STUDEN~1\AppData\Local\Temp\graphlab_server_1483633107.log.0

In [29]:
train_set2

Columns:
	ncodpers	int
	product	str
	Y/N	float

Rows: 7451488

Data:
+----------+-------------------+-----+
| ncodpers |      product      | Y/N |
+----------+-------------------+-----+
|  657640  | ind_ahor_fin_ult1 | 0.0 |
|  657640  | ind_aval_fin_ult1 | 0.0 |
|  657640  |  ind_cco_fin_ult1 | 0.0 |
|  657640  | ind_cder_fin_ult1 | 0.0 |
|  657640  |  ind_cno_fin_ult1 | 0.0 |
|  657640  | ind_ctju_fin_ult1 | 0.0 |
|  657640  | ind_ctma_fin_ult1 | 0.0 |
|  657640  | ind_ctop_fin_ult1 | 0.0 |
|  657788  | ind_ahor_fin_ult1 | 0.0 |
|  657788  | ind_aval_fin_ult1 | 0.0 |
+----------+-------------------+-----+
[7451488 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [30]:
item_sim_model = gl.item_similarity_recommender.create(train_set2, user_id='ncodpers', item_id='product', target='Y/N', similarity_type='pearson')

Recsys training: model = item_similarity

Preparing data set.

    Data has 7451488 observations with 931436 users and 8 items.

    Data prepared in: 3.443s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 0us                            | 0          |

| 556ms                          | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 559ms                               | 0                | 0               |

| 1.55s                               | 0                | 0               |

| 1.66s                               | 100              | 8               |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 3.065s

In [32]:
item_sim_recomm = item_sim_model.recommend(users=range(657810, 658000), k=2)
item_sim_recomm.print_rows(num_rows=50)

+----------+-------------------+----------------+------+
| ncodpers |      product      |     score      | rank |
+----------+-------------------+----------------+------+
|  657811  |  ind_cco_fin_ult1 | 0.602938813534 |  1   |
|  657811  | ind_ctop_fin_ult1 | 0.107993270141 |  2   |
|  657813  |  ind_cco_fin_ult1 | 0.602938813534 |  1   |
|  657813  | ind_ctop_fin_ult1 | 0.107993270141 |  2   |
|  657815  |  ind_cco_fin_ult1 | 0.602938813534 |  1   |
|  657815  | ind_ctop_fin_ult1 | 0.107993270141 |  2   |
|  657816  |  ind_cco_fin_ult1 | 0.602938813534 |  1   |
|  657816  | ind_ctop_fin_ult1 | 0.107993270141 |  2   |
|  657818  |  ind_cco_fin_ult1 | 0.602938813534 |  1   |
|  657818  | ind_ctop_fin_ult1 | 0.107993270141 |  2   |
|  657819  |  ind_cco_fin_ult1 | 0.602938813534 |  1   |
|  657819  | ind_ctop_fin_ult1 | 0.107993270141 |  2   |
|  657820  |  ind_cco_fin_ult1 | 0.602938813534 |  1   |
|  657820  | ind_ctop_fin_ult1 | 0.107993270141 |  2   |
|  657821  |  ind_cco_fin_ult1 | 0.602938813534 |  1   |
|  657821  | ind_ctop_fin_ult1 | 0.107993270141 |  2   |
|  657824  |  ind_cco_fin_ult1 | 0.602938813534 |  1   |
|  657824  | ind_ctop_fin_ult1 | 0.107993270141 |  2   |
|  657825  |  ind_cco_fin_ult1 | 0.602938813534 |  1   |
|  657825  | ind_ctop_fin_ult1 | 0.107993270141 |  2   |
|  657828  |  ind_cco_fin_ult1 | 0.602938813534 |  1   |
|  657828  | ind_ctop_fin_ult1 | 0.107993270141 |  2   |
|  657829  |  ind_cco_fin_ult1 | 0.602938813534 |  1   |
|  657829  | ind_ctop_fin_ult1 | 0.107993270141 |  2   |
|  657831  |  ind_cco_fin_ult1 | 0.602938813534 |  1   |
|  657831  | ind_ctop_fin_ult1 | 0.107993270141 |  2   |
|  657832  |  ind_cco_fin_ult1 | 0.602938813534 |  1   |
|  657832  | ind_ctop_fin_ult1 | 0.107993270141 |  2   |
|  657833  |  ind_cco_fin_ult1 | 0.602938813534 |  1   |
|  657833  | ind_ctop_fin_ult1 | 0.107993270141 |  2   |
|  657834  |  ind_cco_fin_ult1 | 0.602938813534 |  1   |
|  657834  | ind_ctop_fin_ult1 | 0.107993270141 |  2   |
|  657835  |  ind_cco_fin_ult1 | 0.602938813534 |  1   |
|  657835  | ind_ctop_fin_ult1 | 0.107993270141 |  2   |
|  657843  |  ind_cco_fin_ult1 | 0.602938813534 |  1   |
|  657843  | ind_ctop_fin_ult1 | 0.107993270141 |  2   |
|  657844  |  ind_cco_fin_ult1 | 0.602938813534 |  1   |
|  657844  | ind_ctop_fin_ult1 | 0.107993270141 |  2   |
|  657845  |  ind_cco_fin_ult1 | 0.602938813534 |  1   |
|  657845  | ind_ctop_fin_ult1 | 0.107993270141 |  2   |
|  657846  |  ind_cco_fin_ult1 | 0.602938813534 |  1   |
|  657846  | ind_ctop_fin_ult1 | 0.107993270141 |  2   |
|  657851  |  ind_cco_fin_ult1 | 0.602938813534 |  1   |
|  657851  | ind_ctop_fin_ult1 | 0.107993270141 |  2   |
|  657853  |  ind_cco_fin_ult1 | 0.602938813534 |  1   |
|  657853  | ind_ctop_fin_ult1 | 0.107993270141 |  2   |
|  657857  |  ind_cco_fin_ult1 | 0.602938813534 |  1   |
|  657857  | ind_ctop_fin_ult1 | 0.107993270141 |  2   |
|  657858  |  ind_cco_fin_ult1 | 0.602938813534 |  1   |
|  657858  | ind_ctop_fin_ult1 | 0.107993270141 |  2   |
+----------+-------------------+----------------+------+
[186 rows x 4 columns]