In [2]:
import numpy as np
import pandas as pd 
import graphlab as gl
from sklearn import preprocessing

In [3]:
df = pd.read_csv("C:\Users\student04\Desktop\santander proiject\GraphLabData.csv", dtype={'indrel_1mes': str, 'conyuemp': str})

In [5]:
df.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,28/05/2016,657640,N,ES,H,68,17/11/2006,0.0,114.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,28/05/2016,657788,N,ES,H,42,18/11/2006,0.0,114.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,28/05/2016,657795,N,ES,V,44,18/11/2006,0.0,114.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,28/05/2016,657790,N,ES,V,42,18/11/2006,0.0,114.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0
4,28/05/2016,657794,N,ES,H,49,18/11/2006,0.0,114.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
df.dtypes
#We do not want columns to be of type object because we can not put them into SFrame later when using the algorithms
#The data types are also too large

fecha_dato                object
ncodpers                   int64
ind_empleado              object
pais_residencia           object
sexo                      object
age                        int64
fecha_alta                object
ind_nuevo                float64
antiguedad               float64
indrel                   float64
ult_fec_cli_1t            object
indrel_1mes               object
tiprel_1mes               object
indresi                   object
indext                    object
conyuemp                  object
canal_entrada             object
indfall                   object
tipodom                  float64
cod_prov                 float64
nomprov                   object
ind_actividad_cliente    float64
renta                    float64
segmento                  object
ind_ahor_fin_ult1        float64
ind_aval_fin_ult1        float64
ind_cco_fin_ult1         float64
ind_cder_fin_ult1        float64
ind_cno_fin_ult1         float64
ind_ctju_fin_ult1        float64
ind_ctma_fin_ult1        float64
ind_ctop_fin_ult1        float64
ind_ctpp_fin_ult1        float64
ind_deco_fin_ult1        float64
ind_deme_fin_ult1        float64
ind_dela_fin_ult1        float64
ind_ecue_fin_ult1        float64
ind_fond_fin_ult1        float64
ind_hip_fin_ult1         float64
ind_plan_fin_ult1        float64
ind_pres_fin_ult1        float64
ind_reca_fin_ult1        float64
ind_tjcr_fin_ult1        float64
ind_valo_fin_ult1        float64
ind_viv_fin_ult1         float64
ind_nomina_ult1          float64
ind_nom_pens_ult1        float64
ind_recibo_ult1          float64
dtype: object

In [7]:
#We change the objects and complete preprocessing
for f in df.columns:
    if df[f].dtype == 'object':
        print(f)
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(df[f].values))
        df[f] = lbl.transform(list(df[f].values))

fecha_dato
ind_empleado
pais_residencia
sexo
fecha_alta
ult_fec_cli_1t
indrel_1mes
tiprel_1mes
indresi
indext
conyuemp
canal_entrada
indfall
nomprov
segmento

In [8]:
for x in df.columns:
    if df[x].dtypes == 'int64':
        df[x] = df[x].astype('int32')
    if df[x].dtypes == 'float64':
        df[x] = df[x].astype('float32')
#Check out this double if loop Lawrence I know you're loving this

In [9]:
df.dtypes

fecha_dato                 int32
ncodpers                   int32
ind_empleado               int32
pais_residencia            int32
sexo                       int32
age                        int32
fecha_alta                 int32
ind_nuevo                float32
antiguedad               float32
indrel                   float32
ult_fec_cli_1t             int32
indrel_1mes                int32
tiprel_1mes                int32
indresi                    int32
indext                     int32
conyuemp                   int32
canal_entrada              int32
indfall                    int32
tipodom                  float32
cod_prov                 float32
nomprov                    int32
ind_actividad_cliente    float32
renta                    float32
segmento                   int32
ind_ahor_fin_ult1        float32
ind_aval_fin_ult1        float32
ind_cco_fin_ult1         float32
ind_cder_fin_ult1        float32
ind_cno_fin_ult1         float32
ind_ctju_fin_ult1        float32
ind_ctma_fin_ult1        float32
ind_ctop_fin_ult1        float32
ind_ctpp_fin_ult1        float32
ind_deco_fin_ult1        float32
ind_deme_fin_ult1        float32
ind_dela_fin_ult1        float32
ind_ecue_fin_ult1        float32
ind_fond_fin_ult1        float32
ind_hip_fin_ult1         float32
ind_plan_fin_ult1        float32
ind_pres_fin_ult1        float32
ind_reca_fin_ult1        float32
ind_tjcr_fin_ult1        float32
ind_valo_fin_ult1        float32
ind_viv_fin_ult1         float32
ind_nomina_ult1          float32
ind_nom_pens_ult1        float32
ind_recibo_ult1          float32
dtype: object

In [10]:
# we want to have 3 columns (ncodpers, products, ratings)
# to implement the similarity algorithm of Graphlab so
# we continue like that. First we create a dataframe with the products
products = df[['ind_ahor_fin_ult1','ind_aval_fin_ult1','ind_cco_fin_ult1','ind_cder_fin_ult1','ind_cno_fin_ult1','ind_ctju_fin_ult1','ind_ctma_fin_ult1','ind_ctop_fin_ult1','ind_ctpp_fin_ult1','ind_deco_fin_ult1','ind_deme_fin_ult1','ind_dela_fin_ult1','ind_ecue_fin_ult1','ind_fond_fin_ult1','ind_hip_fin_ult1','ind_plan_fin_ult1','ind_pres_fin_ult1','ind_reca_fin_ult1','ind_tjcr_fin_ult1','ind_valo_fin_ult1','ind_viv_fin_ult1','ind_nomina_ult1','ind_nom_pens_ult1','ind_recibo_ult1']]

In [11]:
products.head()

,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
# getting rid of the last row which had only nulls
products = products.loc[:931435]

In [13]:
# changing the floiats into int
for x in products.columns:
    if products[x].dtypes == 'float32':
        products[x] = products[x].astype('int32')

In [14]:
# checking the data types of our product columns
products.dtypes

ind_ahor_fin_ult1    int32
ind_aval_fin_ult1    int32
ind_cco_fin_ult1     int32
ind_cder_fin_ult1    int32
ind_cno_fin_ult1     int32
ind_ctju_fin_ult1    int32
ind_ctma_fin_ult1    int32
ind_ctop_fin_ult1    int32
ind_ctpp_fin_ult1    int32
ind_deco_fin_ult1    int32
ind_deme_fin_ult1    int32
ind_dela_fin_ult1    int32
ind_ecue_fin_ult1    int32
ind_fond_fin_ult1    int32
ind_hip_fin_ult1     int32
ind_plan_fin_ult1    int32
ind_pres_fin_ult1    int32
ind_reca_fin_ult1    int32
ind_tjcr_fin_ult1    int32
ind_valo_fin_ult1    int32
ind_viv_fin_ult1     int32
ind_nomina_ult1      int32
ind_nom_pens_ult1    int32
ind_recibo_ult1      int32
dtype: object

In [15]:
# bringing the products into the format we need to then apply the graphlab 
# similarity algorithm
stack_products = products.stack().to_frame()

In [16]:
stack_products

                          0
0      ind_ahor_fin_ult1  0
       ind_aval_fin_ult1  0
       ind_cco_fin_ult1   0
       ind_cder_fin_ult1  0
       ind_cno_fin_ult1   0
       ind_ctju_fin_ult1  0
       ind_ctma_fin_ult1  0
       ind_ctop_fin_ult1  0
       ind_ctpp_fin_ult1  0
       ind_deco_fin_ult1  0
       ind_deme_fin_ult1  0
       ind_dela_fin_ult1  0
       ind_ecue_fin_ult1  0
       ind_fond_fin_ult1  0
       ind_hip_fin_ult1   0
       ind_plan_fin_ult1  0
       ind_pres_fin_ult1  0
       ind_reca_fin_ult1  0
       ind_tjcr_fin_ult1  0
       ind_valo_fin_ult1  0
       ind_viv_fin_ult1   0
       ind_nomina_ult1    0
       ind_nom_pens_ult1  0
       ind_recibo_ult1    0
1      ind_ahor_fin_ult1  0
       ind_aval_fin_ult1  0
       ind_cco_fin_ult1   1
       ind_cder_fin_ult1  0
       ind_cno_fin_ult1   0
       ind_ctju_fin_ult1  0
...                      ..
931434 ind_tjcr_fin_ult1  0
       ind_valo_fin_ult1  0
       ind_viv_fin_ult1   0
       ind_nomina_ult1    0
       ind_nom_pens_ult1  0
       ind_recibo_ult1    0
931435 ind_ahor_fin_ult1  0
       ind_aval_fin_ult1  0
       ind_cco_fin_ult1   1
       ind_cder_fin_ult1  0
       ind_cno_fin_ult1   0
       ind_ctju_fin_ult1  0
       ind_ctma_fin_ult1  0
       ind_ctop_fin_ult1  0
       ind_ctpp_fin_ult1  0
       ind_deco_fin_ult1  0
       ind_deme_fin_ult1  0
       ind_dela_fin_ult1  0
       ind_ecue_fin_ult1  0
       ind_fond_fin_ult1  0
       ind_hip_fin_ult1   0
       ind_plan_fin_ult1  0
       ind_pres_fin_ult1  0
       ind_reca_fin_ult1  0
       ind_tjcr_fin_ult1  0
       ind_valo_fin_ult1  0
       ind_viv_fin_ult1   0
       ind_nomina_ult1    0
       ind_nom_pens_ult1  0
       ind_recibo_ult1    0

[22354464 rows x 1 columns]

In [17]:
# creating a dataframe with the userids or ncodpers
users = df['ncodpers']

In [18]:
users.head().to_frame()

   ncodpers
0    657640
1    657788
2    657795
3    657790
4    657794

In [19]:
# creating an array with the userids
a = np.array(users)

In [20]:
# since we have 24 products we continue like that
values = np.repeat(a,24)
usersDF = pd.DataFrame(values)

In [21]:
usersDF

                0
0          657640
1          657640
2          657640
3          657640
4          657640
5          657640
6          657640
7          657640
8          657640
9          657640
10         657640
11         657640
12         657640
13         657640
14         657640
15         657640
16         657640
17         657640
18         657640
19         657640
20         657640
21         657640
22         657640
23         657640
24         657788
25         657788
26         657788
27         657788
28         657788
29         657788
...           ...
22354458  1166778
22354459  1166778
22354460  1166778
22354461  1166778
22354462  1166778
22354463  1166778
22354464  1166777
22354465  1166777
22354466  1166777
22354467  1166777
22354468  1166777
22354469  1166777
22354470  1166777
22354471  1166777
22354472  1166777
22354473  1166777
22354474  1166777
22354475  1166777
22354476  1166777
22354477  1166777
22354478  1166777
22354479  1166777
22354480  1166777
22354481  1166777
22354482  1166777
22354483  1166777
22354484  1166777
22354485  1166777
22354486  1166777
22354487  1166777

[22354488 rows x 1 columns]

In [22]:
stack_prod = stack_products.reset_index()

In [23]:
stack_prod

          level_0            level_1  0
0               0  ind_ahor_fin_ult1  0
1               0  ind_aval_fin_ult1  0
2               0   ind_cco_fin_ult1  0
3               0  ind_cder_fin_ult1  0
4               0   ind_cno_fin_ult1  0
5               0  ind_ctju_fin_ult1  0
6               0  ind_ctma_fin_ult1  0
7               0  ind_ctop_fin_ult1  0
8               0  ind_ctpp_fin_ult1  0
9               0  ind_deco_fin_ult1  0
10              0  ind_deme_fin_ult1  0
11              0  ind_dela_fin_ult1  0
12              0  ind_ecue_fin_ult1  0
13              0  ind_fond_fin_ult1  0
14              0   ind_hip_fin_ult1  0
15              0  ind_plan_fin_ult1  0
16              0  ind_pres_fin_ult1  0
17              0  ind_reca_fin_ult1  0
18              0  ind_tjcr_fin_ult1  0
19              0  ind_valo_fin_ult1  0
20              0   ind_viv_fin_ult1  0
21              0    ind_nomina_ult1  0
22              0  ind_nom_pens_ult1  0
23              0    ind_recibo_ult1  0
24              1  ind_ahor_fin_ult1  0
25              1  ind_aval_fin_ult1  0
26              1   ind_cco_fin_ult1  1
27              1  ind_cder_fin_ult1  0
28              1   ind_cno_fin_ult1  0
29              1  ind_ctju_fin_ult1  0
...           ...                ... ..
22354434   931434  ind_tjcr_fin_ult1  0
22354435   931434  ind_valo_fin_ult1  0
22354436   931434   ind_viv_fin_ult1  0
22354437   931434    ind_nomina_ult1  0
22354438   931434  ind_nom_pens_ult1  0
22354439   931434    ind_recibo_ult1  0
22354440   931435  ind_ahor_fin_ult1  0
22354441   931435  ind_aval_fin_ult1  0
22354442   931435   ind_cco_fin_ult1  1
22354443   931435  ind_cder_fin_ult1  0
22354444   931435   ind_cno_fin_ult1  0
22354445   931435  ind_ctju_fin_ult1  0
22354446   931435  ind_ctma_fin_ult1  0
22354447   931435  ind_ctop_fin_ult1  0
22354448   931435  ind_ctpp_fin_ult1  0
22354449   931435  ind_deco_fin_ult1  0
22354450   931435  ind_deme_fin_ult1  0
22354451   931435  ind_dela_fin_ult1  0
22354452   931435  ind_ecue_fin_ult1  0
22354453   931435  ind_fond_fin_ult1  0
22354454   931435   ind_hip_fin_ult1  0
22354455   931435  ind_plan_fin_ult1  0
22354456   931435  ind_pres_fin_ult1  0
22354457   931435  ind_reca_fin_ult1  0
22354458   931435  ind_tjcr_fin_ult1  0
22354459   931435  ind_valo_fin_ult1  0
22354460   931435   ind_viv_fin_ult1  0
22354461   931435    ind_nomina_ult1  0
22354462   931435  ind_nom_pens_ult1  0
22354463   931435    ind_recibo_ult1  0

[22354464 rows x 3 columns]

In [26]:
# now we need to concatenate the users and products like this
results1 = pd.concat([usersDF,stack_prod], axis=1)
results1

                0   level_0            level_1    0
0          657640       0.0  ind_ahor_fin_ult1  0.0
1          657640       0.0  ind_aval_fin_ult1  0.0
2          657640       0.0   ind_cco_fin_ult1  0.0
3          657640       0.0  ind_cder_fin_ult1  0.0
4          657640       0.0   ind_cno_fin_ult1  0.0
5          657640       0.0  ind_ctju_fin_ult1  0.0
6          657640       0.0  ind_ctma_fin_ult1  0.0
7          657640       0.0  ind_ctop_fin_ult1  0.0
8          657640       0.0  ind_ctpp_fin_ult1  0.0
9          657640       0.0  ind_deco_fin_ult1  0.0
10         657640       0.0  ind_deme_fin_ult1  0.0
11         657640       0.0  ind_dela_fin_ult1  0.0
12         657640       0.0  ind_ecue_fin_ult1  0.0
13         657640       0.0  ind_fond_fin_ult1  0.0
14         657640       0.0   ind_hip_fin_ult1  0.0
15         657640       0.0  ind_plan_fin_ult1  0.0
16         657640       0.0  ind_pres_fin_ult1  0.0
17         657640       0.0  ind_reca_fin_ult1  0.0
18         657640       0.0  ind_tjcr_fin_ult1  0.0
19         657640       0.0  ind_valo_fin_ult1  0.0
20         657640       0.0   ind_viv_fin_ult1  0.0
21         657640       0.0    ind_nomina_ult1  0.0
22         657640       0.0  ind_nom_pens_ult1  0.0
23         657640       0.0    ind_recibo_ult1  0.0
24         657788       1.0  ind_ahor_fin_ult1  0.0
25         657788       1.0  ind_aval_fin_ult1  0.0
26         657788       1.0   ind_cco_fin_ult1  1.0
27         657788       1.0  ind_cder_fin_ult1  0.0
28         657788       1.0   ind_cno_fin_ult1  0.0
29         657788       1.0  ind_ctju_fin_ult1  0.0
...           ...       ...                ...  ...
22354458  1166778  931435.0  ind_tjcr_fin_ult1  0.0
22354459  1166778  931435.0  ind_valo_fin_ult1  0.0
22354460  1166778  931435.0   ind_viv_fin_ult1  0.0
22354461  1166778  931435.0    ind_nomina_ult1  0.0
22354462  1166778  931435.0  ind_nom_pens_ult1  0.0
22354463  1166778  931435.0    ind_recibo_ult1  0.0
22354464  1166777       NaN                NaN  NaN
22354465  1166777       NaN                NaN  NaN
22354466  1166777       NaN                NaN  NaN
22354467  1166777       NaN                NaN  NaN
22354468  1166777       NaN                NaN  NaN
22354469  1166777       NaN                NaN  NaN
22354470  1166777       NaN                NaN  NaN
22354471  1166777       NaN                NaN  NaN
22354472  1166777       NaN                NaN  NaN
22354473  1166777       NaN                NaN  NaN
22354474  1166777       NaN                NaN  NaN
22354475  1166777       NaN                NaN  NaN
22354476  1166777       NaN                NaN  NaN
22354477  1166777       NaN                NaN  NaN
22354478  1166777       NaN                NaN  NaN
22354479  1166777       NaN                NaN  NaN
22354480  1166777       NaN                NaN  NaN
22354481  1166777       NaN                NaN  NaN
22354482  1166777       NaN                NaN  NaN
22354483  1166777       NaN                NaN  NaN
22354484  1166777       NaN                NaN  NaN
22354485  1166777       NaN                NaN  NaN
22354486  1166777       NaN                NaN  NaN
22354487  1166777       NaN                NaN  NaN

[22354488 rows x 4 columns]

In [27]:
results1.columns = ['ncodpers', 'whatever', 'product', 'Y/N']

In [28]:
results1.head()

   ncodpers  whatever            product  Y/N
0    657640       0.0  ind_ahor_fin_ult1  0.0
1    657640       0.0  ind_aval_fin_ult1  0.0
2    657640       0.0   ind_cco_fin_ult1  0.0
3    657640       0.0  ind_cder_fin_ult1  0.0
4    657640       0.0   ind_cno_fin_ult1  0.0

In [29]:
results = results1.loc[:22354463]

In [30]:
# putting our dataframe into the final graphlab format
train_set = results[['ncodpers', 'product', 'Y/N']]

In [31]:
train_set

          ncodpers            product  Y/N
0           657640  ind_ahor_fin_ult1  0.0
1           657640  ind_aval_fin_ult1  0.0
2           657640   ind_cco_fin_ult1  0.0
3           657640  ind_cder_fin_ult1  0.0
4           657640   ind_cno_fin_ult1  0.0
5           657640  ind_ctju_fin_ult1  0.0
6           657640  ind_ctma_fin_ult1  0.0
7           657640  ind_ctop_fin_ult1  0.0
8           657640  ind_ctpp_fin_ult1  0.0
9           657640  ind_deco_fin_ult1  0.0
10          657640  ind_deme_fin_ult1  0.0
11          657640  ind_dela_fin_ult1  0.0
12          657640  ind_ecue_fin_ult1  0.0
13          657640  ind_fond_fin_ult1  0.0
14          657640   ind_hip_fin_ult1  0.0
15          657640  ind_plan_fin_ult1  0.0
16          657640  ind_pres_fin_ult1  0.0
17          657640  ind_reca_fin_ult1  0.0
18          657640  ind_tjcr_fin_ult1  0.0
19          657640  ind_valo_fin_ult1  0.0
20          657640   ind_viv_fin_ult1  0.0
21          657640    ind_nomina_ult1  0.0
22          657640  ind_nom_pens_ult1  0.0
23          657640    ind_recibo_ult1  0.0
24          657788  ind_ahor_fin_ult1  0.0
25          657788  ind_aval_fin_ult1  0.0
26          657788   ind_cco_fin_ult1  1.0
27          657788  ind_cder_fin_ult1  0.0
28          657788   ind_cno_fin_ult1  0.0
29          657788  ind_ctju_fin_ult1  0.0
...            ...                ...  ...
22354434   1166779  ind_tjcr_fin_ult1  0.0
22354435   1166779  ind_valo_fin_ult1  0.0
22354436   1166779   ind_viv_fin_ult1  0.0
22354437   1166779    ind_nomina_ult1  0.0
22354438   1166779  ind_nom_pens_ult1  0.0
22354439   1166779    ind_recibo_ult1  0.0
22354440   1166778  ind_ahor_fin_ult1  0.0
22354441   1166778  ind_aval_fin_ult1  0.0
22354442   1166778   ind_cco_fin_ult1  1.0
22354443   1166778  ind_cder_fin_ult1  0.0
22354444   1166778   ind_cno_fin_ult1  0.0
22354445   1166778  ind_ctju_fin_ult1  0.0
22354446   1166778  ind_ctma_fin_ult1  0.0
22354447   1166778  ind_ctop_fin_ult1  0.0
22354448   1166778  ind_ctpp_fin_ult1  0.0
22354449   1166778  ind_deco_fin_ult1  0.0
22354450   1166778  ind_deme_fin_ult1  0.0
22354451   1166778  ind_dela_fin_ult1  0.0
22354452   1166778  ind_ecue_fin_ult1  0.0
22354453   1166778  ind_fond_fin_ult1  0.0
22354454   1166778   ind_hip_fin_ult1  0.0
22354455   1166778  ind_plan_fin_ult1  0.0
22354456   1166778  ind_pres_fin_ult1  0.0
22354457   1166778  ind_reca_fin_ult1  0.0
22354458   1166778  ind_tjcr_fin_ult1  0.0
22354459   1166778  ind_valo_fin_ult1  0.0
22354460   1166778   ind_viv_fin_ult1  0.0
22354461   1166778    ind_nomina_ult1  0.0
22354462   1166778  ind_nom_pens_ult1  0.0
22354463   1166778    ind_recibo_ult1  0.0

[22354464 rows x 3 columns]

In [32]:
train_set2 = gl.SFrame(train_set)

This non-commercial license of GraphLab Create for academic use is assigned to anyfantisgeorgios@gmail.com and will expire on January 04, 2018.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\STUDEN~1\AppData\Local\Temp\graphlab_server_1483629635.log.0

In [33]:
train_set2

Columns:
	ncodpers	int
	product	str
	Y/N	float

Rows: 22354464

Data:
+----------+-------------------+-----+
| ncodpers |      product      | Y/N |
+----------+-------------------+-----+
|  657640  | ind_ahor_fin_ult1 | 0.0 |
|  657640  | ind_aval_fin_ult1 | 0.0 |
|  657640  |  ind_cco_fin_ult1 | 0.0 |
|  657640  | ind_cder_fin_ult1 | 0.0 |
|  657640  |  ind_cno_fin_ult1 | 0.0 |
|  657640  | ind_ctju_fin_ult1 | 0.0 |
|  657640  | ind_ctma_fin_ult1 | 0.0 |
|  657640  | ind_ctop_fin_ult1 | 0.0 |
|  657640  | ind_ctpp_fin_ult1 | 0.0 |
|  657640  | ind_deco_fin_ult1 | 0.0 |
+----------+-------------------+-----+
[22354464 rows x 3 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [35]:
# trying the pearson similarity algorithm
item_sim_model = gl.item_similarity_recommender.create(train_set2, user_id='ncodpers', item_id='product', target='Y/N', similarity_type='pearson')

Recsys training: model = item_similarity

Preparing data set.

    Data has 22354464 observations with 931436 users and 24 items.

    Data prepared in: 9.9736s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 0us                            | 0          |

| 998.8ms                        | 80.25      |

| 1.27s                          | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 1.28s                               | 0                | 0               |

| 2.26s                               | 0                | 0               |

| 3.26s                               | 0                | 0               |

| 4.26s                               | 0                | 0               |

| 5.26s                               | 0                | 0               |

| 6.26s                               | 0                | 0               |

| 7.25s                               | 0                | 0               |

| 8.26s                               | 0                | 0               |

| 9.26s                               | 0                | 0               |

| 10.06s                              | 100              | 24              |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 12.223s

In [46]:
# recommendations

item_sim_recomm = item_sim_model.recommend(users=range(657810, 658000), k=7)
item_sim_recomm.print_rows(num_rows=50)

+----------+-------------------+-----------------+------+
| ncodpers |      product      |      score      | rank |
+----------+-------------------+-----------------+------+
|  657811  |  ind_cco_fin_ult1 |  0.60293879615  |  1   |
|  657811  |  ind_recibo_ult1  |  0.121369295051 |  2   |
|  657811  | ind_ctop_fin_ult1 |  0.107992852908 |  3   |
|  657811  | ind_ecue_fin_ult1 | 0.0814263353067 |  4   |
|  657811  |  ind_cno_fin_ult1 | 0.0784363689424 |  5   |
|  657811  | ind_nom_pens_ult1 | 0.0567353591223 |  6   |
|  657811  |  ind_nomina_ult1  | 0.0518623427866 |  7   |
|  657813  |  ind_cco_fin_ult1 |  0.60293879615  |  1   |
|  657813  |  ind_recibo_ult1  |  0.121369295051 |  2   |
|  657813  | ind_ctop_fin_ult1 |  0.107992852908 |  3   |
|  657813  | ind_ecue_fin_ult1 | 0.0814263353067 |  4   |
|  657813  |  ind_cno_fin_ult1 | 0.0784363689424 |  5   |
|  657813  | ind_nom_pens_ult1 | 0.0567353591223 |  6   |
|  657813  |  ind_nomina_ult1  | 0.0518623427866 |  7   |
|  657815  |  ind_cco_fin_ult1 |  0.60293879615  |  1   |
|  657815  |  ind_recibo_ult1  |  0.121369295051 |  2   |
|  657815  | ind_ctop_fin_ult1 |  0.107992852908 |  3   |
|  657815  | ind_ecue_fin_ult1 | 0.0814263353067 |  4   |
|  657815  |  ind_cno_fin_ult1 | 0.0784363689424 |  5   |
|  657815  | ind_nom_pens_ult1 | 0.0567353591223 |  6   |
|  657815  |  ind_nomina_ult1  | 0.0518623427866 |  7   |
|  657816  |  ind_cco_fin_ult1 |  0.60293879615  |  1   |
|  657816  |  ind_recibo_ult1  |  0.121369295051 |  2   |
|  657816  | ind_ctop_fin_ult1 |  0.107992852908 |  3   |
|  657816  | ind_ecue_fin_ult1 | 0.0814263353067 |  4   |
|  657816  |  ind_cno_fin_ult1 | 0.0784363689424 |  5   |
|  657816  | ind_nom_pens_ult1 | 0.0567353591223 |  6   |
|  657816  |  ind_nomina_ult1  | 0.0518623427866 |  7   |
|  657818  |  ind_cco_fin_ult1 |  0.60293879615  |  1   |
|  657818  |  ind_recibo_ult1  |  0.121369295051 |  2   |
|  657818  | ind_ctop_fin_ult1 |  0.107992852908 |  3   |
|  657818  | ind_ecue_fin_ult1 | 0.0814263353067 |  4   |
|  657818  |  ind_cno_fin_ult1 | 0.0784363689424 |  5   |
|  657818  | ind_nom_pens_ult1 | 0.0567353591223 |  6   |
|  657818  |  ind_nomina_ult1  | 0.0518623427866 |  7   |
|  657819  |  ind_cco_fin_ult1 |  0.60293879615  |  1   |
|  657819  |  ind_recibo_ult1  |  0.121369295051 |  2   |
|  657819  | ind_ctop_fin_ult1 |  0.107992852908 |  3   |
|  657819  | ind_ecue_fin_ult1 | 0.0814263353067 |  4   |
|  657819  |  ind_cno_fin_ult1 | 0.0784363689424 |  5   |
|  657819  | ind_nom_pens_ult1 | 0.0567353591223 |  6   |
|  657819  |  ind_nomina_ult1  | 0.0518623427866 |  7   |
|  657820  |  ind_cco_fin_ult1 |  0.60293879615  |  1   |
|  657820  |  ind_recibo_ult1  |  0.121369295051 |  2   |
|  657820  | ind_ctop_fin_ult1 |  0.107992852908 |  3   |
|  657820  | ind_ecue_fin_ult1 | 0.0814263353067 |  4   |
|  657820  |  ind_cno_fin_ult1 | 0.0784363689424 |  5   |
|  657820  | ind_nom_pens_ult1 | 0.0567353591223 |  6   |
|  657820  |  ind_nomina_ult1  | 0.0518623427866 |  7   |
|  657821  |  ind_cco_fin_ult1 |  0.60293879615  |  1   |
+----------+-------------------+-----------------+------+
[651 rows x 4 columns]

AttributeError: 'module' object has no attribute 'get_dependencies'