In [1]:
import pandas as pd

In [2]:
# pass in column names for each CSV and read them using pandas. 
# Column names available in the readme file
#Reading users file:

user_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']

users = pd.read_csv('C:\Users\student04\Desktop\machine learning\ml-100k/u.user', sep='|', names = user_cols,
                   encoding='latin-1')

In [3]:
#Reading ratings file:


rating_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('C:\Users\student04\Desktop\machine learning\ml-100k/u.data', sep='\t', names=rating_cols,
                     encoding='latin-1')

In [4]:
#Reading items file:

item_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('C:\Users\student04\Desktop\machine learning\ml-100k/u.item', sep='|', names=item_cols,
                   encoding='latin-1')

In [5]:
print users.shape

(943, 5)

In [6]:
users.head()

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

In [7]:
print ratings.shape
ratings.head()

(100000, 4)

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

In [8]:
print items.shape
items.head()

(1682, 24)

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [9]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings_base = pd.read_csv('C:\Users\student04\Desktop\machine learning\ml-100k/ua.base', sep='\t', names=r_cols, encoding='latin-1')
ratings_test = pd.read_csv('C:\Users\student04\Desktop\machine learning\ml-100k/ua.test', sep='\t', names=r_cols, encoding='latin-1')
ratings_base.shape, ratings_test.shape

((90570, 4), (9430, 4))

In [10]:
import graphlab 
train_data = graphlab.SFrame(ratings_base)
test_data = graphlab.SFrame(ratings_test)

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\STUDEN~1\AppData\Local\Temp\graphlab_server_1483528169.log.0

This non-commercial license of GraphLab Create for academic use is assigned to anyfantisgeorgios@gmail.com and will expire on January 04, 2018.

In [5]:
graphlab.get_dependencies()

By running this function, you agree to the following licenses.

* libstdc++: https://gcc.gnu.org/onlinedocs/libstdc++/manual/license.html
* xz: http://git.tukaani.org/?p=xz.git;a=blob;f=COPYING

Downloading xz.
Extracting xz.
Downloading gcc-libs.
Extracting gcc-libs.
Copying gcc-libs into the installation directory.

In [11]:
# making a popularity based model, i.e. the one where all the users have same recommendation based on the most popular choices
# with no sign of personlalisation at all

popularity_model = graphlab.popularity_recommender.create(train_data, user_id='user_id', item_id='movie_id', target='rating')

Recsys training: model = popularity

Warning: Ignoring columns unix_timestamp;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 90570 observations with 943 users and 1680 items.

    Data prepared in: 0.073s

90570 observations to process; with 1680 unique items.

In [18]:
#Get recommendations for first 5 users and print them
#users = range(1,11) specifies user ID of first 10 users
#k=6 specifies top 5 recommendations to be given

popularity_recomm = popularity_model.recommend(users=range(1,11),k=10)
popularity_recomm.print_rows(num_rows=100)

+---------+----------+-------+------+
| user_id | movie_id | score | rank |
+---------+----------+-------+------+
|    1    |   1656   |  5.0  |  1   |
|    1    |   1536   |  5.0  |  2   |
|    1    |   1293   |  5.0  |  3   |
|    1    |   1500   |  5.0  |  4   |
|    1    |   1467   |  5.0  |  5   |
|    1    |   1599   |  5.0  |  6   |
|    1    |   1201   |  5.0  |  7   |
|    1    |   1189   |  5.0  |  8   |
|    1    |   1122   |  5.0  |  9   |
|    1    |   814    |  5.0  |  10  |
|    2    |   1656   |  5.0  |  1   |
|    2    |   1536   |  5.0  |  2   |
|    2    |   1293   |  5.0  |  3   |
|    2    |   1500   |  5.0  |  4   |
|    2    |   1467   |  5.0  |  5   |
|    2    |   1599   |  5.0  |  6   |
|    2    |   1201   |  5.0  |  7   |
|    2    |   1189   |  5.0  |  8   |
|    2    |   1122   |  5.0  |  9   |
|    2    |   814    |  5.0  |  10  |
|    3    |   1656   |  5.0  |  1   |
|    3    |   1536   |  5.0  |  2   |
|    3    |   1293   |  5.0  |  3   |
|    3    |   1500   |  5.0  |  4   |
|    3    |   1467   |  5.0  |  5   |
|    3    |   1599   |  5.0  |  6   |
|    3    |   1201   |  5.0  |  7   |
|    3    |   1189   |  5.0  |  8   |
|    3    |   1122   |  5.0  |  9   |
|    3    |   814    |  5.0  |  10  |
|    4    |   1656   |  5.0  |  1   |
|    4    |   1536   |  5.0  |  2   |
|    4    |   1293   |  5.0  |  3   |
|    4    |   1500   |  5.0  |  4   |
|    4    |   1467   |  5.0  |  5   |
|    4    |   1599   |  5.0  |  6   |
|    4    |   1201   |  5.0  |  7   |
|    4    |   1189   |  5.0  |  8   |
|    4    |   1122   |  5.0  |  9   |
|    4    |   814    |  5.0  |  10  |
|    5    |   1656   |  5.0  |  1   |
|    5    |   1536   |  5.0  |  2   |
|    5    |   1293   |  5.0  |  3   |
|    5    |   1500   |  5.0  |  4   |
|    5    |   1467   |  5.0  |  5   |
|    5    |   1599   |  5.0  |  6   |
|    5    |   1201   |  5.0  |  7   |
|    5    |   1189   |  5.0  |  8   |
|    5    |   1122   |  5.0  |  9   |
|    5    |   814    |  5.0  |  10  |
|    6    |   1656   |  5.0  |  1   |
|    6    |   1536   |  5.0  |  2   |
|    6    |   1293   |  5.0  |  3   |
|    6    |   1500   |  5.0  |  4   |
|    6    |   1467   |  5.0  |  5   |
|    6    |   1599   |  5.0  |  6   |
|    6    |   1201   |  5.0  |  7   |
|    6    |   1189   |  5.0  |  8   |
|    6    |   1122   |  5.0  |  9   |
|    6    |   814    |  5.0  |  10  |
|    7    |   1656   |  5.0  |  1   |
|    7    |   1536   |  5.0  |  2   |
|    7    |   1293   |  5.0  |  3   |
|    7    |   1500   |  5.0  |  4   |
|    7    |   1467   |  5.0  |  5   |
|    7    |   1599   |  5.0  |  6   |
|    7    |   1201   |  5.0  |  7   |
|    7    |   1189   |  5.0  |  8   |
|    7    |   1122   |  5.0  |  9   |
|    7    |   814    |  5.0  |  10  |
|    8    |   1656   |  5.0  |  1   |
|    8    |   1536   |  5.0  |  2   |
|    8    |   1293   |  5.0  |  3   |
|    8    |   1500   |  5.0  |  4   |
|    8    |   1467   |  5.0  |  5   |
|    8    |   1599   |  5.0  |  6   |
|    8    |   1201   |  5.0  |  7   |
|    8    |   1189   |  5.0  |  8   |
|    8    |   1122   |  5.0  |  9   |
|    8    |   814    |  5.0  |  10  |
|    9    |   1656   |  5.0  |  1   |
|    9    |   1536   |  5.0  |  2   |
|    9    |   1293   |  5.0  |  3   |
|    9    |   1500   |  5.0  |  4   |
|    9    |   1467   |  5.0  |  5   |
|    9    |   1599   |  5.0  |  6   |
|    9    |   1201   |  5.0  |  7   |
|    9    |   1189   |  5.0  |  8   |
|    9    |   1122   |  5.0  |  9   |
|    9    |   814    |  5.0  |  10  |
|    10   |   1656   |  5.0  |  1   |
|    10   |   1536   |  5.0  |  2   |
|    10   |   1293   |  5.0  |  3   |
|    10   |   1500   |  5.0  |  4   |
|    10   |   1467   |  5.0  |  5   |
|    10   |   1599   |  5.0  |  6   |
|    10   |   1201   |  5.0  |  7   |
|    10   |   1189   |  5.0  |  8   |
|    10   |   1122   |  5.0  |  9   |
|    10   |   814    |  5.0  |  10  |
+---------+----------+-------+------+
[100 rows x 4 columns]

In [17]:
# verification of the recommended movies as we can see that each user is recommended to see the movies with movie_id
# 1656, 1536, 1293, 1500, 1467, 1599,1201,1189,1122 and 814

ratings_base.groupby(by='movie_id')['rating'].mean().sort_values(ascending=False).head(15)

# we can see that all these movies have a mean rating of 5

movie_id
1500    5.000000
1293    5.000000
1122    5.000000
1189    5.000000
1656    5.000000
1201    5.000000
1599    5.000000
814     5.000000
1467    5.000000
1536    5.000000
1449    4.714286
1642    4.500000
1463    4.500000
1594    4.500000
1398    4.500000
Name: rating, dtype: float64