In [1]:
import pandas as pd

In [2]:
#Reading users file:

user_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']

users = pd.read_csv('C:\Users\student04\Desktop\machine learning\ml-100k/u.user', sep='|', names = user_cols,
                   encoding='latin-1')

In [3]:
#Reading ratings file:


rating_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('C:\Users\student04\Desktop\machine learning\ml-100k/u.data', sep='\t', names=rating_cols,
                     encoding='latin-1')

In [4]:
#Reading items file:

item_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('C:\Users\student04\Desktop\machine learning\ml-100k/u.item', sep='|', names=item_cols,
                   encoding='latin-1')

In [5]:
print users.shape

(943, 5)

In [6]:
users.head()

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

In [7]:
print ratings.shape
ratings.head()

(100000, 4)

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

In [8]:
print items.shape
items.head()

(1682, 24)

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [9]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings_base = pd.read_csv('C:\Users\student04\Desktop\machine learning\ml-100k/ua.base', sep='\t', names=r_cols, encoding='latin-1')
ratings_test = pd.read_csv('C:\Users\student04\Desktop\machine learning\ml-100k/ua.test', sep='\t', names=r_cols, encoding='latin-1')
ratings_base.shape, ratings_test.shape

((90570, 4), (9430, 4))

In [11]:
import graphlab 
train_data = graphlab.SFrame(ratings_base)
test_data = graphlab.SFrame(ratings_test)

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\STUDEN~1\AppData\Local\Temp\graphlab_server_1483531319.log.0

This non-commercial license of GraphLab Create for academic use is assigned to anyfantisgeorgios@gmail.com and will expire on January 04, 2018.

In [12]:
graphlab.get_dependencies()

AttributeError: 'module' object has no attribute 'get_dependencies'

In [16]:
# train model - pearson similarity

similarity_model = graphlab.item_similarity_recommender.create(train_data, user_id='user_id', item_id='movie_id', target='rating')

Recsys training: model = item_similarity

Warning: Ignoring columns unix_timestamp;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 90570 observations with 943 users and 1680 items.

    Data prepared in: 0.07s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 3ms                            | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 9ms                                 | 0.25             | 6               |

| 70ms                                | 100              | 1680            |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.078s

In [18]:
#Make Recommendations:
# k=10 represents the 10 recommendations to be given and range(1,11) gives recommendations to 10 users

similarity_recomm = similarity_model.recommend(users=range(1,11), k=10)
similarity_recomm.print_rows(num_rows=100)

+---------+----------+-----------------+------+
| user_id | movie_id |      score      | rank |
+---------+----------+-----------------+------+
|    1    |   423    |  0.165926049684 |  1   |
|    1    |   568    |  0.155188085469 |  2   |
|    1    |   202    |  0.152020702608 |  3   |
|    1    |   403    |  0.149925559532 |  4   |
|    1    |   385    |  0.149523855621 |  5   |
|    1    |   655    |  0.138764777484 |  6   |
|    1    |   393    |  0.13128180017  |  7   |
|    1    |   265    |  0.123422279158 |  8   |
|    1    |   357    |  0.096388053803 |  9   |
|    1    |   550    | 0.0960183973986 |  10  |
|    2    |    7     |  0.16170423306  |  1   |
|    2    |   121    |  0.159973624807 |  2   |
|    2    |    50    |  0.159257787925 |  3   |
|    2    |   181    |  0.157847735744 |  4   |
|    2    |   117    |  0.154636738392 |  5   |
|    2    |   405    |  0.145548368876 |  6   |
|    2    |    9     |  0.141954308519 |  7   |
|    2    |   742    |  0.128735331389 |  8   |
|    2    |   546    |  0.12368445213  |  9   |
|    2    |    12    |  0.121908040001 |  10  |
|    3    |   328    |  0.124686544592 |  1   |
|    3    |   313    |  0.101335969838 |  2   |
|    3    |   332    |  0.101279365745 |  3   |
|    3    |    12    |  0.10076934912  |  4   |
|    3    |   245    | 0.0975412225181 |  5   |
|    3    |   301    | 0.0965950692242 |  6   |
|    3    |   331    | 0.0964689755982 |  7   |
|    3    |   879    | 0.0889258574356 |  8   |
|    3    |   269    | 0.0881741913882 |  9   |
|    3    |   294    | 0.0861688459461 |  10  |
|    4    |   121    |  0.156088250024 |  1   |
|    4    |    56    |  0.151944577694 |  2   |
|    4    |    50    |  0.149283830609 |  3   |
|    4    |   181    |  0.149083150285 |  4   |
|    4    |   333    |  0.141388999564 |  5   |
|    4    |    7     |  0.140319143023 |  6   |
|    4    |   288    |  0.13648673892  |  7   |
|    4    |   302    |  0.133839466742 |  8   |
|    4    |    12    |  0.132692792586 |  9   |
|    4    |   245    |  0.13212157573  |  10  |
|    5    |   195    |  0.166251799555 |  1   |
|    5    |   202    |  0.162878921176 |  2   |
|    5    |   161    |  0.159522655516 |  3   |
|    5    |   568    |  0.15894843376  |  4   |
|    5    |    82    |  0.158864569664 |  5   |
|    5    |    28    |  0.141868056673 |  6   |
|    5    |   655    |  0.137204538692 |  7   |
|    5    |    4     |  0.132472010815 |  8   |
|    5    |    88    |  0.132426398812 |  9   |
|    5    |    96    |  0.131946371541 |  10  |
|    6    |   172    |  0.166939026384 |  1   |
|    6    |   196    |  0.156140452297 |  2   |
|    6    |    97    |  0.15301257105  |  3   |
|    6    |    69    |  0.151853191912 |  4   |
|    6    |   234    |  0.15143088648  |  5   |
|    6    |   210    |  0.147577373246 |  6   |
|    6    |    98    |  0.134136005124 |  7   |
|    6    |   655    |  0.126013128615 |  8   |
|    6    |   176    |  0.120791414484 |  9   |
|    6    |   228    |  0.119429510921 |  10  |
|    7    |    88    | 0.0900767430398 |  1   |
|    7    |    95    | 0.0887962105013 |  2   |
|    7    |   209    | 0.0686927199667 |  3   |
|    7    |   732    | 0.0618456436781 |  4   |
|    7    |   218    | 0.0562959266376 |  5   |
|    7    |   739    | 0.0561944443458 |  6   |
|    7    |   239    | 0.0524352936041 |  7   |
|    7    |    58    | 0.0516629526937 |  8   |
|    7    |   233    | 0.0446412910639 |  9   |
|    7    |   479    |  0.042177987311 |  10  |
|    8    |    22    |  0.281703194793 |  1   |
|    8    |    89    |  0.263114541161 |  2   |
|    8    |   161    |  0.256033077532 |  3   |
|    8    |    79    |  0.249444506606 |  4   |
|    8    |   385    |  0.248216479408 |  5   |
|    8    |   204    |  0.246701736839 |  6   |
|    8    |   265    |  0.242705054429 |  7   |
|    8    |   423    |  0.236103622281 |  8   |
|    8    |   230    |  0.235428695776 |  9   |
|    8    |   234    |  0.229711767362 |  10  |
|    9    |   174    |  0.227077886462 |  1   |
|    9    |   172    |  0.220032051206 |  2   |
|    9    |   216    |  0.213619286815 |  3   |
|    9    |   204    |  0.211318403482 |  4   |
|    9    |    56    |  0.210009311636 |  5   |
|    9    |   195    |  0.209090963006 |  6   |
|    9    |   168    |  0.193093051513 |  7   |
|    9    |   210    |  0.192830736438 |  8   |
|    9    |   202    |  0.189737727245 |  9   |
|    9    |   234    |  0.189202576876 |  10  |
+---------+----------+-----------------+------+
[90 rows x 4 columns]

In [ ]:
# as we can see there are different movies recommended for each user