In [194]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
#import matplotlib.pyplot as plt
#%pylab inline
#pylab.rcParams['figure.figsize'] = (10,10)

In [144]:
f= open("C:\\Git\\Santander\\Shanta\\Data\\train_ver2.csv", 'r') #loads in the training data set
#the training dataset is too large to load into a dataframe, so we write one month's data into a new CSV below
#g = open("C:\\Git\\Santander\\Shanta\\Data\\training_data.csv", 'w')
h = open("C:\\Git\\Santander\\Shanta\\Data\\test_ver2.csv", 'r')

#for line in f:
#    date = line[:10]
#    if date == '2016-05-28':  #may month used here
#        g.write(line)
        
#this is the loop used to filter by date

In [145]:
with open("C:\\Git\\Santander\\Shanta\\Data\\train_ver2.csv", 'r') as f:
    cols = f.readline().split(',')
with open("C:\\Git\\Santander\\Shanta\\Data\\test_ver2.csv", 'r') as h:
    cols_t = h.readline().split(',')
    
#everything with _t is the test data set preparation, here were splitting columns by comma, since its a CSV file

In [146]:
cols = [s.replace('"','') for s in cols]
cols_t = [s.replace('"','') for s in cols_t]
#column names seem to be written wierdly, replaced with a normal string format

In [147]:
#loads in the training and test dataset into dataframes
df = pd.read_csv("C:\\Git\\Santander\\Shanta\\Data\\training_data.csv", dtype={'indrel_1mes': str, 'conyuemp': str}, names=cols)
df_t = pd.read_csv("C:\\Git\\Santander\\Shanta\\Data\\test_ver2.csv", dtype={'indrel_1mes': str, 'conyuemp': str}, names=cols)

In [148]:
df_t = df_t.ix[1:] #deletes the first row of the test-set since it's the headers duplicated.

In [149]:
#columns that are mostly empty or useless are deleted here
del df['fecha_dato']
del df['ncodpers']
del df['tipodom']
del df['ult_fec_cli_1t']
del df['conyuemp']
del df_t['fecha_dato']
del df_t['tipodom']
del df_t['ult_fec_cli_1t']
del df_t['conyuemp']

In [150]:
#nifty code, transforms the values in the data-set into a normalised integer format so it can be machine learning processed. 
from sklearn import preprocessing

for f in df.columns:
    if df[f].dtype == 'object':
        print(f)
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(df[f].values))
        df[f] = lbl.transform(list(df[f].values))

for h in df_t.columns:
    if df_t[h].dtype == 'object':
        print(h)
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(df_t[h].values))
        df_t[h] = lbl.transform(list(df_t[h].values))

ind_empleado
pais_residencia
sexo
age
fecha_alta
indrel_1mes
tiprel_1mes
indresi
indext
canal_entrada
indfall
nomprov
segmento
ncodpers
ind_empleado
pais_residencia
sexo
age
fecha_alta
ind_nuevo
antiguedad
indrel
indrel_1mes
tiprel_1mes
indresi
indext
canal_entrada
indfall
cod_prov
nomprov
ind_actividad_cliente
renta
segmento

In [151]:
df_t = df_t.iloc[:,:20] #removes product columns from test dataset since they are all Null

In [152]:
df.dtypes #may have to change data type to simpler types

ind_empleado               int64
pais_residencia            int64
sexo                       int64
age                        int64
fecha_alta                 int64
ind_nuevo                float64
antiguedad               float64
indrel                   float64
indrel_1mes                int64
tiprel_1mes                int64
indresi                    int64
indext                     int64
canal_entrada              int64
indfall                    int64
cod_prov                 float64
nomprov                    int64
ind_actividad_cliente    float64
renta                    float64
segmento                   int64
ind_ahor_fin_ult1        float64
ind_aval_fin_ult1        float64
ind_cco_fin_ult1         float64
ind_cder_fin_ult1        float64
ind_cno_fin_ult1         float64
ind_ctju_fin_ult1        float64
ind_ctma_fin_ult1        float64
ind_ctop_fin_ult1        float64
ind_ctpp_fin_ult1        float64
ind_deco_fin_ult1        float64
ind_deme_fin_ult1        float64
ind_dela_fin_ult1        float64
ind_ecue_fin_ult1        float64
ind_fond_fin_ult1        float64
ind_hip_fin_ult1         float64
ind_plan_fin_ult1        float64
ind_pres_fin_ult1        float64
ind_reca_fin_ult1        float64
ind_tjcr_fin_ult1        float64
ind_valo_fin_ult1        float64
ind_viv_fin_ult1         float64
ind_nomina_ult1          float64
ind_nom_pens_ult1        float64
ind_recibo_ult1\n        float64
dtype: object

In [153]:
df_t.dtypes

ncodpers                 int64
ind_empleado             int64
pais_residencia          int64
sexo                     int64
age                      int64
fecha_alta               int64
ind_nuevo                int64
antiguedad               int64
indrel                   int64
indrel_1mes              int64
tiprel_1mes              int64
indresi                  int64
indext                   int64
canal_entrada            int64
indfall                  int64
cod_prov                 int64
nomprov                  int64
ind_actividad_cliente    int64
renta                    int64
segmento                 int64
dtype: object

In [154]:
df =  df.loc[:931435] #the last row of the training dataset acts erratically, easier to remove it.

In [155]:
df.iloc[:,19:] = df.iloc[:,19:].astype('int8') #changes product data types to int8 (1 byte, 8 bits) to save on memory

In [156]:
# a work around for this cell is to fully delete the last row, as it turns out to be very problematic.
#df.loc[931436,'indext'] = 0
#df.loc[931436,'indfall'] = 0 #one value is messing up the boolean aspect of the dataframe

In [157]:
df[['sexo','ind_nuevo','indext','indfall','ind_actividad_cliente','indresi']] = df[['sexo','ind_nuevo','indext','indfall','ind_actividad_cliente','indresi']].astype('bool')

In [158]:
for f in df.columns:
    if df[f].dtype == 'float64':
        print(f)
        df[f] = df[f].astype('float16') #changes float64 datatypes to float16 to conserve memory (decision tree algorithm doesnt like data-types too big)

antiguedad
indrel
cod_prov
renta

In [159]:
for f in df.columns:
    if df[f].dtype == 'int64':
        print(f)
        df[f] = df[f].astype('int16')
        
for h in df_t.columns[1:]:
    if df_t[h].dtype == 'int64':
        print(h)
        df_t[h] = df_t[h].astype('int8')

ind_empleado
pais_residencia
age
fecha_alta
indrel_1mes
tiprel_1mes
canal_entrada
nomprov
segmento
ind_empleado
pais_residencia
sexo
age
fecha_alta
ind_nuevo
antiguedad
indrel
indrel_1mes
tiprel_1mes
indresi
indext
canal_entrada
indfall
cod_prov
nomprov
ind_actividad_cliente
renta
segmento

In [160]:
df.dtypes

ind_empleado               int16
pais_residencia            int16
sexo                        bool
age                        int16
fecha_alta                 int16
ind_nuevo                   bool
antiguedad               float16
indrel                   float16
indrel_1mes                int16
tiprel_1mes                int16
indresi                     bool
indext                      bool
canal_entrada              int16
indfall                     bool
cod_prov                 float16
nomprov                    int16
ind_actividad_cliente       bool
renta                    float16
segmento                   int16
ind_ahor_fin_ult1           int8
ind_aval_fin_ult1           int8
ind_cco_fin_ult1            int8
ind_cder_fin_ult1           int8
ind_cno_fin_ult1            int8
ind_ctju_fin_ult1           int8
ind_ctma_fin_ult1           int8
ind_ctop_fin_ult1           int8
ind_ctpp_fin_ult1           int8
ind_deco_fin_ult1           int8
ind_deme_fin_ult1           int8
ind_dela_fin_ult1           int8
ind_ecue_fin_ult1           int8
ind_fond_fin_ult1           int8
ind_hip_fin_ult1            int8
ind_plan_fin_ult1           int8
ind_pres_fin_ult1           int8
ind_reca_fin_ult1           int8
ind_tjcr_fin_ult1           int8
ind_valo_fin_ult1           int8
ind_viv_fin_ult1            int8
ind_nomina_ult1             int8
ind_nom_pens_ult1           int8
ind_recibo_ult1\n           int8
dtype: object

In [164]:
for f in df.columns:
    if df[f].dtype == 'bool':
        df[f] = df[f].astype('int8')

df.dtypes

ind_empleado               int16
pais_residencia            int16
sexo                        int8
age                        int16
fecha_alta                 int16
ind_nuevo                   int8
antiguedad               float16
indrel                   float16
indrel_1mes                int16
tiprel_1mes                int16
indresi                     int8
indext                      int8
canal_entrada              int16
indfall                     int8
cod_prov                 float16
nomprov                    int16
ind_actividad_cliente       int8
renta                    float16
segmento                   int16
ind_ahor_fin_ult1           int8
ind_aval_fin_ult1           int8
ind_cco_fin_ult1            int8
ind_cder_fin_ult1           int8
ind_cno_fin_ult1            int8
ind_ctju_fin_ult1           int8
ind_ctma_fin_ult1           int8
ind_ctop_fin_ult1           int8
ind_ctpp_fin_ult1           int8
ind_deco_fin_ult1           int8
ind_deme_fin_ult1           int8
ind_dela_fin_ult1           int8
ind_ecue_fin_ult1           int8
ind_fond_fin_ult1           int8
ind_hip_fin_ult1            int8
ind_plan_fin_ult1           int8
ind_pres_fin_ult1           int8
ind_reca_fin_ult1           int8
ind_tjcr_fin_ult1           int8
ind_valo_fin_ult1           int8
ind_viv_fin_ult1            int8
ind_nomina_ult1             int8
ind_nom_pens_ult1           int8
ind_recibo_ult1\n           int8
dtype: object

In [166]:
#for f in df.columns:
#    if df[f].dtype == 'float16':
#       if df[f].value == 'NA':
#          df[f].value = ''

#df.dtypes

In [113]:
#for f in df.columns:
#    if df[f].dtype == 'float16':
#        df[f] = df[f].astype('int64')

#df.dtypes

In [167]:
df_t.dtypes

ncodpers                 int64
ind_empleado              int8
pais_residencia           int8
sexo                      int8
age                       int8
fecha_alta                int8
ind_nuevo                 int8
antiguedad                int8
indrel                    int8
indrel_1mes               int8
tiprel_1mes               int8
indresi                   int8
indext                    int8
canal_entrada             int8
indfall                   int8
cod_prov                  int8
nomprov                   int8
ind_actividad_cliente     int8
renta                     int8
segmento                  int8
dtype: object

In [168]:
#back up in case of everything dying
df_backup = df  
df_t_backup = df_t

In [ ]:
#sets the dataframe index to the customer code, useful later when suggesting products to specific customers
df_t.set_index(['ncodpers'],inplace=True)

In [172]:
df_t.head()

,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,indrel_1mes,tiprel_1mes,indresi,indext,canal_entrada,indfall,cod_prov,nomprov,ind_actividad_cliente,renta,segmento
ncodpers,,,,,,,,,,,,,,,,,,,
0,2,36,1,52,0,0,33,0,0,0,1,0,24,0,49,30,1,21,0
138992,3,36,0,32,-91,0,32,0,0,1,1,0,24,0,2,2,0,0,1
138993,3,36,1,18,-91,0,32,0,0,0,1,0,-106,0,21,18,1,0,2
138994,3,36,0,18,-91,0,32,0,0,1,1,0,-106,0,7,8,0,-82,2
138995,3,36,0,18,-91,0,32,0,0,1,1,0,-106,0,6,7,0,-15,2

In [179]:
# A list of products and features, will be used when defining targets and features for the ML algorithm.
products = ['ind_ahor_fin_ult1','ind_aval_fin_ult1','ind_cco_fin_ult1','ind_cder_fin_ult1','ind_cno_fin_ult1','ind_ctju_fin_ult1','ind_ctma_fin_ult1','ind_ctop_fin_ult1','ind_ctpp_fin_ult1','ind_deco_fin_ult1','ind_deme_fin_ult1','ind_dela_fin_ult1','ind_ecue_fin_ult1','ind_fond_fin_ult1','ind_hip_fin_ult1','ind_plan_fin_ult1','ind_pres_fin_ult1','ind_reca_fin_ult1','ind_tjcr_fin_ult1','ind_valo_fin_ult1','ind_viv_fin_ult1','ind_nomina_ult1','ind_nom_pens_ult1','ind_recibo_ult1\n']
descriptors = ['ind_actividad_cliente','nomprov', 'age','sexo', 'segmento']

In [180]:
#df.isnull().any()

In [206]:
target = df[products].values
features = df[descriptors].values
#target_t = df_t[products].values
features_t = df_t[descriptors].values

In [182]:
#this is where the training of the model actually occurs
knn = KNeighborsClassifier(n_neighbors=24)

In [183]:
# train the model with data
knn.fit(features,target)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=24, p=2,
           weights='uniform')

In [184]:
#this is where the test set is fed in for predictions
predictions = knn.predict(features_t)

In [185]:
predictDF = pd.DataFrame(predictions)

In [186]:
predictDF = predictDF.astype('int32') #make dataframe smaller for memory reasons

In [187]:
predictDF.columns = products #renaming column names to the product names

In [188]:
predictDF.head()

,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [189]:
#sets the index as the customer code, so the predictions can be matched to a customer
predictDF.set_index(df_t.index,inplace=True)

In [190]:
#real wizardy occurs here, pivots the columns into an index, this is done so the values can be filtered in the next step
wow = pd.DataFrame(predictDF.unstack())

In [191]:
filtered = wow[wow[0] == 1] #filters the data frame to only return the products predicted as a yes, no need for the others
filtered = filtered.ix[:,1:] #returns the product:customer to be recommended to

In [193]:
filtered.to_csv("C:\\Git\\Santander\\Shanta\\Data\\1st-submission.csv")