In [1]:
import pandas as pd
import graphlab

In [2]:
# pass in column names for each CSV and read them using pandas. 
# Column names available in the readme file

#Reading users file:
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('C:\Users\student10\Documents\MovieLens\ml-100k\u.user', sep='|', names=u_cols,
 encoding='latin-1')

#Reading ratings file:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('C:\Users\student10\Documents\MovieLens\ml-100k\u.data', sep='\t', names=r_cols,
 encoding='latin-1')

#Reading items file:
i_cols = ['movie id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = pd.read_csv('C:\Users\student10\Documents\MovieLens\ml-100k\u.item', sep='|', names=i_cols,
 encoding='latin-1')

In [3]:
print users.shape
users.head()

(943, 5)

   user_id  age sex  occupation zip_code
0        1   24   M  technician    85711
1        2   53   F       other    94043
2        3   23   M      writer    32067
3        4   24   M  technician    43537
4        5   33   F       other    15213

In [4]:
print ratings.shape
ratings.head()

(100000, 4)

   user_id  movie_id  rating  unix_timestamp
0      196       242       3       881250949
1      186       302       3       891717742
2       22       377       1       878887116
3      244        51       2       880606923
4      166       346       1       886397596

In [33]:
print items.shape
items[813:814]

(1682, 24)

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
813,814,"Great Day in Harlem, A (1994)",01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Great%20Day%2...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings_base = pd.read_csv('C:\Users\student10\Documents\MovieLens\ml-100k/ua.base', sep='\t', names=r_cols, encoding='latin-1')
ratings_test = pd.read_csv('C:\Users\student10\Documents\MovieLens\ml-100k/ua.test', sep='\t', names=r_cols, encoding='latin-1')
ratings_base.shape, ratings_test.shape

((90570, 4), (9430, 4))

In [8]:
train_data = graphlab.SFrame(ratings_base)
test_data = graphlab.SFrame(ratings_test)

In [36]:
popularity_model = graphlab.popularity_recommender.create(train_data, user_id='user_id', item_id='movie_id', target='rating')
similarity_model = graphlab.item_similarity_recommender.create(train_data, user_id='user_id', item_id='movie_id', target='rating')

Recsys training: model = popularity

Warning: Ignoring columns unix_timestamp;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 90570 observations with 943 users and 1680 items.

    Data prepared in: 0.0686s

90570 observations to process; with 1680 unique items.

Recsys training: model = item_similarity

Warning: Ignoring columns unix_timestamp;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 90570 observations with 943 users and 1680 items.

    Data prepared in: 0.061s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 1ms                            | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 5ms                                 | 0.25             | 6               |

| 85ms                                | 100              | 1680            |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.092s

In [43]:
#Get recommendations for first 5 users and print them
#users = range(1,6) specifies user ID of first 5 users
#k=5 specifies top 5 recommendations to be given
#popularity_recomm = popularity_model.recommend(users=range(1000,1010),k=1)
#popularity_recomm.print_rows(num_rows=10)

similarity_recomm = similarity_model.recommend(users=range(1,6), k=10)
similarity_recomm.print_rows(num_rows=50)

+---------+----------+-----------------+------+
| user_id | movie_id |      score      | rank |
+---------+----------+-----------------+------+
|    1    |   423    |  0.165926049684 |  1   |
|    1    |   568    |  0.155188085469 |  2   |
|    1    |   202    |  0.152020702608 |  3   |
|    1    |   403    |  0.149925559532 |  4   |
|    1    |   385    |  0.149523855621 |  5   |
|    1    |   655    |  0.138764777484 |  6   |
|    1    |   393    |  0.13128180017  |  7   |
|    1    |   265    |  0.123422279158 |  8   |
|    1    |   550    | 0.0971115568212 |  9   |
|    1    |   357    |  0.096388053803 |  10  |
|    2    |    7     |  0.16170423306  |  1   |
|    2    |   121    |  0.159973624807 |  2   |
|    2    |   181    |  0.157847735744 |  3   |
|    2    |    50    |  0.156254000389 |  4   |
|    2    |   117    |  0.154636738392 |  5   |
|    2    |   405    |  0.145548368876 |  6   |
|    2    |    9     |  0.141954308519 |  7   |
|    2    |   742    |  0.128735331389 |  8   |
|    2    |   546    |  0.12368445213  |  9   |
|    2    |    12    |  0.121908040001 |  10  |
|    3    |   328    |  0.124686544592 |  1   |
|    3    |   313    |  0.101335969838 |  2   |
|    3    |   332    |  0.101279365745 |  3   |
|    3    |    12    |  0.10076934912  |  4   |
|    3    |   245    | 0.0975412225181 |  5   |
|    3    |   301    | 0.0965950692242 |  6   |
|    3    |   331    | 0.0964689755982 |  7   |
|    3    |   879    | 0.0889258574356 |  8   |
|    3    |   269    | 0.0881741913882 |  9   |
|    3    |   294    | 0.0861688459461 |  10  |
|    4    |   121    |  0.156088250024 |  1   |
|    4    |    56    |  0.151944577694 |  2   |
|    4    |   181    |  0.149083150285 |  3   |
|    4    |   333    |  0.141388999564 |  4   |
|    4    |    7     |  0.140319143023 |  5   |
|    4    |    50    |  0.138126905475 |  6   |
|    4    |   288    |  0.13648673892  |  7   |
|    4    |   302    |  0.133839466742 |  8   |
|    4    |    12    |  0.132692792586 |  9   |
|    4    |   245    |  0.13212157573  |  10  |
|    5    |   195    |  0.170480231083 |  1   |
|    5    |   202    |  0.165487189726 |  2   |
|    5    |   161    |  0.163745497935 |  3   |
|    5    |   568    |  0.161665873817 |  4   |
|    5    |    82    |  0.160494384621 |  5   |
|    5    |    28    |  0.144245373841 |  6   |
|    5    |   655    |  0.140072503957 |  7   |
|    5    |    96    |  0.132524318406 |  8   |
|    5    |    88    |  0.132349268234 |  9   |
|    5    |   196    |  0.131668729493 |  10  |
+---------+----------+-----------------+------+
[50 rows x 4 columns]

In [44]:
ratings_base.groupby(by='movie_id')['rating'].mean().sort_values(ascending=False).head(20)

movie_id
1500    5.000000
1293    5.000000
1122    5.000000
1189    5.000000
1656    5.000000
1201    5.000000
1599    5.000000
814     5.000000
1467    5.000000
1536    5.000000
1449    4.714286
1642    4.500000
1463    4.500000
1594    4.500000
1398    4.500000
114     4.491525
408     4.480769
169     4.476636
318     4.475836
483     4.459821
Name: rating, dtype: float64