In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%pylab inline
pylab.rcParams['figure.figsize'] = (10,10)

Populating the interactive namespace from numpy and matplotlib

In [542]:
f= open("C:\Users\student12\Desktop\Santander/train_ver2.csv",'r')
g = open("C:\Users\student12\Desktop\Santander/decision_tree_training1.csv", 'w')
h = open("C:\Users\student12\Desktop\Santander/test_ver2.csv", 'r')

for line in f:
    date = line[:10]
    if date == '2016-05-28':  #january month will be used
        g.write(line)

In [544]:
with open("C:\Users\student12\Desktop\Santander/train_ver2.csv", 'r') as f:
    cols = f.readline().split(',')
with open("C:\Users\student12\Desktop\Santander/test_ver2.csv", 'r') as h:
    cols_t = h.readline().split(',')

In [545]:
cols = [s.replace('"','') for s in cols]
cols_t = [s.replace('"','') for s in cols_t]

In [550]:
df = pd.read_csv("C:\Users\student12\Desktop\Santander/decision_tree_training1.csv", dtype={'indrel_1mes': str, 'conyuemp': str}, names=cols)
df_t = pd.read_csv("C:\Users\student12\Desktop\Santander/test_ver2.csv", dtype={'indrel_1mes': str, 'conyuemp': str}, names=cols)

In [555]:
df_t = df_t.ix[1:] #deletes the first row since its fucked up

In [556]:
del df['fecha_dato']
del df['ncodpers']
del df['tipodom']
del df['ult_fec_cli_1t']
del df['conyuemp']
del df_t['fecha_dato']
#del df_t['ncodpers']
del df_t['tipodom']
del df_t['ult_fec_cli_1t']
del df_t['conyuemp']

In [560]:
from sklearn import preprocessing

for f in df.columns:
    if df[f].dtype == 'object':
        print(f)
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(df[f].values))
        df[f] = lbl.transform(list(df[f].values))

for h in df_t.columns:
    if df_t[h].dtype == 'object':
        print(h)
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(df_t[h].values))
        df_t[h] = lbl.transform(list(df_t[h].values))

ncodpers

C:\Users\student12\Anaconda2\lib\site-packages\ipykernel\__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

ind_empleado
pais_residencia
sexo
age
fecha_alta
ind_nuevo
antiguedad
indrel
indrel_1mes
tiprel_1mes
indresi
indext
canal_entrada
indfall
cod_prov
nomprov
ind_actividad_cliente
renta
segmento

In [558]:
df_t.head()

,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,indrel_1mes,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
1,15889,F,ES,V,56,1995-01-16,0,256,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,1170544,N,ES,H,36,2013-08-28,0,34,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,1170545,N,ES,V,22,2013-08-28,0,34,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
4,1170547,N,ES,H,22,2013-08-28,0,34,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
5,1170548,N,ES,H,22,2013-08-28,0,34,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2

In [561]:
df_t.dtypes #may have to change data type to simpler

ncodpers                   int64
ind_empleado               int64
pais_residencia            int64
sexo                       int64
age                        int64
fecha_alta                 int64
ind_nuevo                  int64
antiguedad                 int64
indrel                     int64
indrel_1mes                int64
tiprel_1mes                int64
indresi                    int64
indext                     int64
canal_entrada              int64
indfall                    int64
cod_prov                   int64
nomprov                    int64
ind_actividad_cliente      int64
renta                      int64
segmento                   int64
ind_ahor_fin_ult1        float64
ind_aval_fin_ult1        float64
ind_cco_fin_ult1         float64
ind_cder_fin_ult1        float64
ind_cno_fin_ult1         float64
ind_ctju_fin_ult1        float64
ind_ctma_fin_ult1        float64
ind_ctop_fin_ult1        float64
ind_ctpp_fin_ult1        float64
ind_deco_fin_ult1        float64
ind_deme_fin_ult1        float64
ind_dela_fin_ult1        float64
ind_ecue_fin_ult1        float64
ind_fond_fin_ult1        float64
ind_hip_fin_ult1         float64
ind_plan_fin_ult1        float64
ind_pres_fin_ult1        float64
ind_reca_fin_ult1        float64
ind_tjcr_fin_ult1        float64
ind_valo_fin_ult1        float64
ind_viv_fin_ult1         float64
ind_nomina_ult1          float64
ind_nom_pens_ult1        float64
ind_recibo_ult1\n          int64
dtype: object

In [27]:
df.iloc[:,19:] = df.iloc[:,19:].astype('int32') #changes product data types to boolean to save on memory

In [68]:
df =  df.loc[:931435] #the last row is fucked, like our mood

In [50]:
#df.loc[931436,'indext'] = 0
df.loc[931436,'indfall'] = 0 #one value is messing up the boolean aspect of the dataframe

2

In [82]:
df[['sexo','ind_nuevo','indext','indfall','ind_actividad_cliente','indresi']] = df[['sexo','ind_nuevo','indext','indfall','ind_actividad_cliente','indresi']].astype('bool')

In [94]:
for f in df.columns:
    if df[f].dtype == 'float64':
        print(f)
        df[f] = df[f].astype('float32') #changes float64 datatypes to

antiguedad
indrel
cod_prov
renta

In [96]:
for f in df.columns:
    if df[f].dtype == 'int64':
        print(f)
        df[f] = df[f].astype('int32')

ind_empleado
pais_residencia
age
fecha_alta
indrel_1mes
tiprel_1mes
canal_entrada
nomprov
segmento

In [97]:
df.dtypes

ind_empleado               int32
pais_residencia            int32
sexo                        bool
age                        int32
fecha_alta                 int32
ind_nuevo                   bool
antiguedad               float32
indrel                   float32
indrel_1mes                int32
tiprel_1mes                int32
indresi                     bool
indext                      bool
canal_entrada              int32
indfall                     bool
cod_prov                 float32
nomprov                    int32
ind_actividad_cliente       bool
renta                    float32
segmento                   int32
ind_ahor_fin_ult1           bool
ind_aval_fin_ult1           bool
ind_cco_fin_ult1            bool
ind_cder_fin_ult1           bool
ind_cno_fin_ult1            bool
ind_ctju_fin_ult1           bool
ind_ctma_fin_ult1           bool
ind_ctop_fin_ult1           bool
ind_ctpp_fin_ult1           bool
ind_deco_fin_ult1           bool
ind_deme_fin_ult1           bool
ind_dela_fin_ult1           bool
ind_ecue_fin_ult1           bool
ind_fond_fin_ult1           bool
ind_hip_fin_ult1            bool
ind_plan_fin_ult1           bool
ind_pres_fin_ult1           bool
ind_reca_fin_ult1           bool
ind_tjcr_fin_ult1           bool
ind_valo_fin_ult1           bool
ind_viv_fin_ult1            bool
ind_nomina_ult1             bool
ind_nom_pens_ult1           bool
ind_recibo_ult1\n           bool
dtype: object

In [98]:
df_backup = df  #back up in case of everything dying

In [99]:
df.head()

,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,indrel_1mes,tiprel_1mes,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,3,36,False,68,3444,False,114.0,1.0,0,1,...,False,False,False,False,False,False,False,False,False,False
1,3,36,False,42,3445,False,114.0,1.0,0,0,...,False,False,False,False,False,False,False,False,False,False
2,3,36,True,44,3445,False,114.0,1.0,0,0,...,False,False,False,False,False,False,False,False,False,False
3,3,36,True,42,3445,False,114.0,1.0,0,0,...,False,False,False,False,True,False,False,True,True,True
4,3,36,False,49,3445,False,114.0,1.0,0,0,...,False,False,False,False,False,False,False,False,False,False

In [250]:
#real stuff occurs now
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

In [251]:
products = ['ind_ahor_fin_ult1','ind_aval_fin_ult1','ind_cco_fin_ult1','ind_cder_fin_ult1','ind_cno_fin_ult1','ind_ctju_fin_ult1','ind_ctma_fin_ult1','ind_ctop_fin_ult1','ind_ctpp_fin_ult1','ind_deco_fin_ult1','ind_deme_fin_ult1','ind_dela_fin_ult1','ind_ecue_fin_ult1','ind_fond_fin_ult1','ind_hip_fin_ult1','ind_plan_fin_ult1','ind_pres_fin_ult1','ind_reca_fin_ult1','ind_tjcr_fin_ult1','ind_valo_fin_ult1','ind_viv_fin_ult1','ind_nomina_ult1','ind_nom_pens_ult1','ind_recibo_ult1\n']
descriptors = ['ind_actividad_cliente','segmento','tiprel_1mes','fecha_alta','canal_entrada','age','sexo']

In [252]:
target = df[products].values
features = df[descriptors].values

In [253]:
my_tree_one = RandomForestClassifier()
my_tree_one = my_tree_one.fit(features,target)

In [254]:
my_tree_one.score(features,target)

0.82528912346097849

In [255]:
predictions = my_tree_one.predict(features)

In [268]:
trans = np.transpose(predictions)

In [272]:
predictDF = pd.DataFrame(predictions)

In [273]:
predictDF.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [260]:
from sklearn.metrics import average_precision_score
aps = average_precision_score(target,predictions)

In [379]:
predictDF = predictDF.astype('int32') #make dataframe smaller for memory reasons

In [ ]:
predictDF.columns = products #renaming column names to the product names

In [405]:
predict_test = predictDF.loc[:10]

In [430]:
    for j in predict_test.iterrows():
            for i in j:
                print i

,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,1,1
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [427]:
i.sort_values(ascending = False)

ind_dela_fin_ult1    1
ind_nom_pens_ult1    0
ind_aval_fin_ult1    0
ind_cco_fin_ult1     0
ind_cder_fin_ult1    0
ind_cno_fin_ult1     0
ind_ctju_fin_ult1    0
ind_ctma_fin_ult1    0
ind_ctop_fin_ult1    0
ind_ctpp_fin_ult1    0
ind_deco_fin_ult1    0
ind_deme_fin_ult1    0
ind_recibo_ult1\n    0
ind_ecue_fin_ult1    0
ind_fond_fin_ult1    0
ind_hip_fin_ult1     0
ind_plan_fin_ult1    0
ind_pres_fin_ult1    0
ind_reca_fin_ult1    0
ind_tjcr_fin_ult1    0
ind_valo_fin_ult1    0
ind_viv_fin_ult1     0
ind_nomina_ult1      0
ind_ahor_fin_ult1    0
Name: 10, dtype: int32

In [431]:
predictDF.head()

,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,1,1,1
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [537]:
unstacked = predictDF.unstack()

In [538]:
wow = pd.DataFrame(unstacked)

In [539]:
filtered = wow[wow[0] == 1]
filtered = filtered.ix[:,1:]

In [541]:
filtered.to_csv("C:\GIT\Santander/Ali/1st-submission.csv")