In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
data_df = pd.read_csv('games.csv')

C:\Users\student01\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
headers = list(data_df)[2:]
print headers

['age', 'antiguedad', 'ind_actividad_cliente', 'indext', 'indresi', 'ind_nuevo', 'fecha_alta', 'sexo', 'ind_empleado', 'segmento']

In [4]:
for i in headers:
    print data_df[i].unique()

['56' '63' '59' '62' '60' '50' '61' '57' '49' '58' '51' '54' '53' '48' '55'
 '52' '71' '46' '66' '69' '65' '67' '70' '72' '78' '68' '80' '47' '92' '84'
 '86' '88' '74' '98' '76' '64' '82' '81' '77' '45' '44' '89' '75' '85'
 ' NA' '79' '41' '73' '90' '37' '83' '87' '95' '101' '96' '42' '94' '43'
 '40' '36' '106' '97' '102' '99' '107' '91' '31' '93' '100' '103' '34'
 '104' '28' '112' '108' '105' '39' '113' '110' '116' '109' '111' '114' '38'
 '26' '35' '164' '33' '32' '30' '23' '117' '16' '29' '17' '22' '24' '20'
 '18' '19' '27' '21' '25' '15' '115' '2' '14' '13' '12' '11' ' 47' ' 41'
 ' 11' ' 70' ' 45' ' 34' ' 73' ' 66' '10' '9' '8' '127' '7' '6' '5' '4' '3'
 23L 48L 27L 21L 40L 22L 50L 91L 33L 24L 20L 25L 55L 42L 74L 32L 71L 58L
 39L 37L 54L 44L 73L 45L 57L 29L 46L 26L 28L 69L 36L 63L 56L 72L 34L 31L
 75L 59L 47L 81L 41L 49L 38L 53L 62L 19L 30L 35L 43L 60L 88L 61L 68L 87L
 80L 85L 84L 89L 67L 77L 76L 70L 64L 3L 65L 51L 9L 7L 66L 12L 52L 86L 82L
 18L 79L 2L 83L 16L 4L 78L 6L 8L 17L 13L 90L 5L 10L 11L 14L 94L 15L 96L 92L
 99L 95L 98L 93L 102L 100L 97L 101L]
['255' '256' '246' '237' '254' '239' '209' '236' '250' '233' '253' '248'
 '216' '200' '107' '143' '83' '103' '243' '228' '147' '196' '252' '211'
 '197' '208' '173' '205' '251' '162' '218' '245' '63' '115' '9' '129' '174'
 '171' '142' '139' '31' '120' '230' '128' '150' '240' '131' '189' '249'
 '117' '125' '153' '78' '8' '     NA' '244' '213' '241' '154' '247' '219'
 '161' '242' '62' '144' '234' '36' '90' '148' '133' '231' '172' '235' '224'
 '222' '215' '145' '180' '207' '238' '221' '13' '151' '28' '226' '194' '71'
 '134' '225' '186' '232' '217' '223' '220' '210' '178' '163' '102' '166'
 '119' '7' '170' '198' '229' '91' '38' '227' '84' '203' '187' '43' '184'
 '176' '122' '57' '149' '181' '188' '206' '179' '152' '193' '183' '182'
 '199' '175' '177' '190' '101' '73' '185' '158' '75' '192' '23' '204' '195'
 '137' '98' '25' '138' '74' '88' '156' '26' '155' '92' '126' '160' '132'
 '167' '164' '165' '157' '159' '141' '48' '127' '3' '49' '27' '202' '60'
 '214' '124' '136' '191' '212' '51' '86' '130' '20' '4' '17' '169' '2'
 '111' '77' '121' '59' '140' '110' '56' '67' '168' '123' '201' '52' '81'
 '89' '19' '146' '113' '66' '135' '58' '106' '15' '99' '40' '34' '6' '53'
 '87' '14' '100' '30' '97' '0' '93' '46' '94' '114' '112' '118' '116' '70'
 '76' '72' '18' '104' '64' '96' '105' '95' '1' '82' '44' '11' '29' '109'
 '80' '54' '79' '55' '69' '12' '68' '10' '24' '22' '37' '41' '65' '108'
 '61' '16' '5' '32' '35' '47' '21' '39' '33' '45' '85' '42' '50' '-999999'
 '    107' '     20' '    105' '      4' '    104' '     61' 9L 4L 0L 6L 8L
 23L 15L 3L 1L 7L 2L 5L 127L 11L 22L 12L 13L 14L]
[  1.   0.  nan]
['N' 'S' nan]
['S' nan 'N']
[  0.  nan   1.]
['1995-01-16' '2015-07-28' '1997-10-03' ..., '2016-05-15' '2016-03-26'
 '2016-04-24']
['V' 'H' nan]
['F' 'A' 'N' 'B' nan 'S']
['01 - TOP' '02 - PARTICULARES' nan '03 - UNIVERSITARIO']

Below is the code where I replace all the nulls with 10 (only in the columns where 0 is not already occupied), as I will normalize the data so that it's range is [0,1]

In [5]:
data_df.loc[data_df['age'].isnull()] = 10
data_df.loc[data_df['antiguedad'].isnull()] = 10
data_df.loc[data_df['ind_actividad_cliente'].isnull()] = 10
data_df.loc[data_df['indext'].isnull()] = 10
data_df.loc[data_df['indresi'].isnull()] = 10
data_df.loc[data_df['ind_nuevo'].isnull()] = 10
data_df.loc[data_df['sexo'].isnull()] = 10
data_df['ind_empleado'].replace('S', 10, inplace=True)
data_df.loc[data_df['ind_empleado'].isnull()] = 10
data_df.loc[data_df['segmento'].isnull()] = 10

In [6]:
data_df.loc[data_df['fecha_alta'].isnull()] = dt.datetime.today().strftime('%Y-%m-%d') 
#This dates will be normilzed by counting the difference in days between todays date the the date in the actual data

In [7]:
pd.isnull(data_df).any() # Confirming all the columns have no nulls in them

ncodpers                 False
fecha_dato               False
age                      False
antiguedad               False
ind_actividad_cliente    False
indext                   False
indresi                  False
ind_nuevo                False
fecha_alta               False
sexo                     False
ind_empleado             False
segmento                 False
dtype: bool

In [8]:
for i in headers:
    print data_df[i].unique()

['56' '63' '59' '62' '60' '50' '61' '57' '49' '58' '51' '54' '53' '48' '55'
 '52' '71' '46' '66' '69' '65' '67' '70' '72' '78' '68' '80' '47' '92' '84'
 10 '86' '88' '74' '98' '76' '64' '82' '81' '77' '45' '44' '89' '75' '85'
 '79' '41' '73' '90' '37' '83' '87' '95' '101' '96' '42' '94' '43' '40'
 '36' '106' '97' '102' '99' '91' '31' '93' '100' '103' '34' '104' '28'
 '112' '108' '105' '39' '113' '110' '116' '109' '107' '111' '114' '38' '26'
 '35' '164' '33' '32' '30' '23' '117' '16' '29' '17' '22' '24' '20' '18'
 '19' '27' '21' '25' '15' '115' '14' '13' '2' '12' '11' ' 47' ' 41' ' 11'
 ' 45' ' 34' ' 73' ' 66' '10' '9' '8' '127' '7' '6' '5' '4' '3' 23L 48L 27L
 21L 40L 22L 91L 33L 24L 20L 25L 55L 42L 74L 32L 71L 58L 39L 37L 54L 44L
 73L 45L 57L 29L 46L 26L 28L 69L 36L 63L 56L 72L 34L 50L 31L 75L 59L 47L
 81L 41L 49L 53L 62L 30L 35L 43L 60L 88L 61L 68L 38L 87L 80L 85L 84L 89L
 67L 77L 76L 70L 64L 3L 65L 51L 9L 7L 66L 12L 52L 86L 82L 18L 79L 19L 2L
 83L 16L 78L 6L 8L 17L 13L 90L 5L 11L 14L 94L 15L 96L 92L 99L 4L 95L 98L
 93L 102L 100L 97L]
['255' '256' '246' '237' '254' '239' '209' '236' '250' '233' '253' '248'
 '216' '200' '107' '143' '83' 10 '243' '228' '147' '196' '252' '211' '197'
 '208' '205' '251' '162' '218' '245' '63' '115' '9' '129' '174' '171' '142'
 '139' '31' '120' '230' '128' '150' '240' '131' '189' '249' '117' '125'
 '153' '78' '8' '244' '213' '241' '154' '247' '219' '161' '242' '62' '144'
 '234' '36' '90' '148' '133' '231' '172' '235' '224' '222' '215' '145'
 '180' '207' '238' '221' '13' '151' '28' '226' '194' '71' '134' '225' '186'
 '232' '217' '223' '220' '210' '178' '163' '166' '119' '7' '170' '198'
 '229' '91' '38' '227' '84' '203' '187' '43' '184' '176' '122' '57' '149'
 '181' '188' '206' '179' '152' '193' '183' '182' '199' '175' '177' '190'
 '101' '73' '185' '158' '75' '192' '23' '204' '195' '137' '25' '138' '74'
 '88' '156' '26' '155' '92' '126' '160' '132' '167' '164' '165' '157' '159'
 '141' '48' '127' '3' '49' '27' '202' '60' '214' '124' '173' '136' '98'
 '191' '212' '51' '86' '130' '20' '4' '103' '17' '169' '2' '111' '77' '121'
 '59' '140' '110' '56' '67' '168' '123' '201' '52' '81' '89' '19' '146'
 '113' '66' '135' '58' '106' '15' '99' '40' '34' '6' '53' '87' '14' '100'
 '30' '97' '93' '46' '94' '114' '112' '118' '102' '116' '70' '76' '72' '18'
 '104' '64' '96' '105' '95' '1' '82' '44' '11' '29' '80' '54' '79' '55'
 '69' '12' '68' '10' '24' '22' '109' '37' '41' '108' '61' '16' '5' '32'
 '35' '47' '21' '0' '39' '33' '45' '65' '85' '42' '50' '-999999' '    107'
 '     20' '      4' '    105' '    104' '     61' 9L 4L 6L 8L 23L 0L 15L
 3L 1L 7L 2L 5L 127L 11L 22L 12L 13L 14L]
[  1.   0.  10.]
['N' 'S' 10]
['S' 10 'N']
[  0.  10.   1.]
['1995-01-16' '2015-07-28' '1997-10-03' ..., '2015-12-12' '2016-03-26'
 '2016-04-24']
['V' 'H' 10]
['F' 'A' 'N' 'B' 10]
['01 - TOP' '02 - PARTICULARES' 10 '03 - UNIVERSITARIO']

Now I convert all the strings/words into integers. The start of normalizing the table. Note for some reason there are additional "nan's" added. need to drop these from the dataframe at the end.

In [9]:
indext_dic = {'N':1, 'S': 2, 10:10}
data_df['indext'] = data_df['indext'].map(indext_dic)

indresi_dic = {'N':1, 'S':2, 10:10 }
data_df['indresi'] = data_df['indresi'].map(indresi_dic)

sexo_dic = {'V': 1, 'H': 2, 10:10}
data_df['sexo'] = data_df['sexo'].map(sexo_dic)

ind_empleado_dic = {'F':1, 'A':2, 'N':3, 'B':4, 10:10}
data_df['ind_empleado'] = data_df['ind_empleado'].map(ind_empleado_dic)

segmento_dic = {'01 - TOP':1, '02 - PARTICULARES':2, '03 - UNIVERSITARIO':3, 10:10}
data_df['segmento'] = data_df['segmento'].map(segmento_dic)

In [10]:
for i in headers:
    print data_df[i].unique()

['56' '63' '59' '62' '60' '50' '61' '57' '49' '58' '51' '54' '53' '48' '55'
 '52' '71' '46' '66' '69' '65' '67' '70' '72' '78' '68' '80' '47' '92' '84'
 10 '86' '88' '74' '98' '76' '64' '82' '81' '77' '45' '44' '89' '75' '85'
 '79' '41' '73' '90' '37' '83' '87' '95' '101' '96' '42' '94' '43' '40'
 '36' '106' '97' '102' '99' '91' '31' '93' '100' '103' '34' '104' '28'
 '112' '108' '105' '39' '113' '110' '116' '109' '107' '111' '114' '38' '26'
 '35' '164' '33' '32' '30' '23' '117' '16' '29' '17' '22' '24' '20' '18'
 '19' '27' '21' '25' '15' '115' '14' '13' '2' '12' '11' ' 47' ' 41' ' 11'
 ' 45' ' 34' ' 73' ' 66' '10' '9' '8' '127' '7' '6' '5' '4' '3' 23L 48L 27L
 21L 40L 22L 91L 33L 24L 20L 25L 55L 42L 74L 32L 71L 58L 39L 37L 54L 44L
 73L 45L 57L 29L 46L 26L 28L 69L 36L 63L 56L 72L 34L 50L 31L 75L 59L 47L
 81L 41L 49L 53L 62L 30L 35L 43L 60L 88L 61L 68L 38L 87L 80L 85L 84L 89L
 67L 77L 76L 70L 64L 3L 65L 51L 9L 7L 66L 12L 52L 86L 82L 18L 79L 19L 2L
 83L 16L 78L 6L 8L 17L 13L 90L 5L 11L 14L 94L 15L 96L 92L 99L 4L 95L 98L
 93L 102L 100L 97L]
['255' '256' '246' '237' '254' '239' '209' '236' '250' '233' '253' '248'
 '216' '200' '107' '143' '83' 10 '243' '228' '147' '196' '252' '211' '197'
 '208' '205' '251' '162' '218' '245' '63' '115' '9' '129' '174' '171' '142'
 '139' '31' '120' '230' '128' '150' '240' '131' '189' '249' '117' '125'
 '153' '78' '8' '244' '213' '241' '154' '247' '219' '161' '242' '62' '144'
 '234' '36' '90' '148' '133' '231' '172' '235' '224' '222' '215' '145'
 '180' '207' '238' '221' '13' '151' '28' '226' '194' '71' '134' '225' '186'
 '232' '217' '223' '220' '210' '178' '163' '166' '119' '7' '170' '198'
 '229' '91' '38' '227' '84' '203' '187' '43' '184' '176' '122' '57' '149'
 '181' '188' '206' '179' '152' '193' '183' '182' '199' '175' '177' '190'
 '101' '73' '185' '158' '75' '192' '23' '204' '195' '137' '25' '138' '74'
 '88' '156' '26' '155' '92' '126' '160' '132' '167' '164' '165' '157' '159'
 '141' '48' '127' '3' '49' '27' '202' '60' '214' '124' '173' '136' '98'
 '191' '212' '51' '86' '130' '20' '4' '103' '17' '169' '2' '111' '77' '121'
 '59' '140' '110' '56' '67' '168' '123' '201' '52' '81' '89' '19' '146'
 '113' '66' '135' '58' '106' '15' '99' '40' '34' '6' '53' '87' '14' '100'
 '30' '97' '93' '46' '94' '114' '112' '118' '102' '116' '70' '76' '72' '18'
 '104' '64' '96' '105' '95' '1' '82' '44' '11' '29' '80' '54' '79' '55'
 '69' '12' '68' '10' '24' '22' '109' '37' '41' '108' '61' '16' '5' '32'
 '35' '47' '21' '0' '39' '33' '45' '65' '85' '42' '50' '-999999' '    107'
 '     20' '      4' '    105' '    104' '     61' 9L 4L 6L 8L 23L 0L 15L
 3L 1L 7L 2L 5L 127L 11L 22L 12L 13L 14L]
[  1.   0.  10.]
[ 1  2 10]
[ 2 10  1]
[  0.  10.   1.]
['1995-01-16' '2015-07-28' '1997-10-03' ..., '2015-12-12' '2016-03-26'
 '2016-04-24']
[ 1  2 10]
[ 1  2  3  4 10]
[ 1  2 10  3]

In [11]:
data_df['fecha_alta'] = data_df['fecha_alta'].astype('datetime64[ns]')

In [12]:
data_df['fecha_alta'] = dt.datetime.today() - data_df['fecha_alta']  
#Replace the fecha_alta column with the difference between todays date and the date in the column

Code below normailzes for the KNN algo

In [18]:
for column in headers:
    try:
        data_df[column] = data_df[column] - data_df[column].mean()/data_df[column].max()-data_df[column].min()
    except:
        pass

In [21]:
data_df['fecha_alta'] = dt.utcfromtimestamp(data_df['fecha_alta'].values.astype(int)) #Things fuck up from here

AttributeError: 'module' object has no attribute 'utcfromtimestamp'

In [19]:
for i in headers:
    print data_df[i].unique()

[  53.76944059   60.76944059   56.76944059   59.76944059   57.76944059
   47.76944059   58.76944059   54.76944059   46.76944059   55.76944059
   48.76944059   51.76944059   50.76944059   45.76944059   52.76944059
   49.76944059   68.76944059   43.76944059   63.76944059   66.76944059
   62.76944059   64.76944059   67.76944059   69.76944059   75.76944059
   65.76944059   77.76944059   44.76944059   89.76944059   81.76944059
    7.76944059   83.76944059   85.76944059   71.76944059   95.76944059
   73.76944059   61.76944059   79.76944059   78.76944059   74.76944059
   42.76944059   41.76944059   86.76944059   72.76944059   82.76944059
   76.76944059   38.76944059   70.76944059   87.76944059   34.76944059
   80.76944059   84.76944059   92.76944059   98.76944059   93.76944059
   39.76944059   91.76944059   40.76944059   37.76944059   33.76944059
  103.76944059   94.76944059   99.76944059   96.76944059   88.76944059
   28.76944059   90.76944059   97.76944059  100.76944059   31.76944059
  101.76944059   25.76944059  109.76944059  105.76944059  102.76944059
   36.76944059  110.76944059  107.76944059  113.76944059  106.76944059
  104.76944059  108.76944059  111.76944059   35.76944059   23.76944059
   32.76944059  161.76944059   30.76944059   29.76944059   27.76944059
   20.76944059  114.76944059   13.76944059   26.76944059   14.76944059
   19.76944059   21.76944059   17.76944059   15.76944059   16.76944059
   24.76944059   18.76944059   22.76944059   12.76944059  112.76944059
   11.76944059   10.76944059   -0.23055941    9.76944059    8.76944059
    6.76944059    5.76944059  124.76944059    4.76944059    3.76944059
    2.76944059    1.76944059    0.76944059]
[  1.00025300e+06   1.00025400e+06   1.00024400e+06   1.00023500e+06
   1.00025200e+06   1.00023700e+06   1.00020700e+06   1.00023400e+06
   1.00024800e+06   1.00023100e+06   1.00025100e+06   1.00024600e+06
   1.00021400e+06   1.00019800e+06   1.00010500e+06   1.00014100e+06
   1.00008100e+06   1.00000800e+06   1.00024100e+06   1.00022600e+06
   1.00014500e+06   1.00019400e+06   1.00025000e+06   1.00020900e+06
   1.00019500e+06   1.00020600e+06   1.00020300e+06   1.00024900e+06
   1.00016000e+06   1.00021600e+06   1.00024300e+06   1.00006100e+06
   1.00011300e+06   1.00000700e+06   1.00012700e+06   1.00017200e+06
   1.00016900e+06   1.00014000e+06   1.00013700e+06   1.00002900e+06
   1.00011800e+06   1.00022800e+06   1.00012600e+06   1.00014800e+06
   1.00023800e+06   1.00012900e+06   1.00018700e+06   1.00024700e+06
   1.00011500e+06   1.00012300e+06   1.00015100e+06   1.00007600e+06
   1.00000600e+06   1.00024200e+06   1.00021100e+06   1.00023900e+06
   1.00015200e+06   1.00024500e+06   1.00021700e+06   1.00015900e+06
   1.00024000e+06   1.00006000e+06   1.00014200e+06   1.00023200e+06
   1.00003400e+06   1.00008800e+06   1.00014600e+06   1.00013100e+06
   1.00022900e+06   1.00017000e+06   1.00023300e+06   1.00022200e+06
   1.00022000e+06   1.00021300e+06   1.00014300e+06   1.00017800e+06
   1.00020500e+06   1.00023600e+06   1.00021900e+06   1.00001100e+06
   1.00014900e+06   1.00002600e+06   1.00022400e+06   1.00019200e+06
   1.00006900e+06   1.00013200e+06   1.00022300e+06   1.00018400e+06
   1.00023000e+06   1.00021500e+06   1.00022100e+06   1.00021800e+06
   1.00020800e+06   1.00017600e+06   1.00016100e+06   1.00016400e+06
   1.00011700e+06   1.00000500e+06   1.00016800e+06   1.00019600e+06
   1.00022700e+06   1.00008900e+06   1.00003600e+06   1.00022500e+06
   1.00008200e+06   1.00020100e+06   1.00018500e+06   1.00004100e+06
   1.00018200e+06   1.00017400e+06   1.00012000e+06   1.00005500e+06
   1.00014700e+06   1.00017900e+06   1.00018600e+06   1.00020400e+06
   1.00017700e+06   1.00015000e+06   1.00019100e+06   1.00018100e+06
   1.00018000e+06   1.00019700e+06   1.00017300e+06   1.00017500e+06
   1.00018800e+06   1.00009900e+06   1.00007100e+06   1.00018300e+06
   1.00015600e+06   1.00007300e+06   1.00019000e+06   1.00002100e+06
   1.00020200e+06   1.00019300e+06   1.00013500e+06   1.00002300e+06
   1.00013600e+06   1.00007200e+06   1.00008600e+06   1.00015400e+06
   1.00002400e+06   1.00015300e+06   1.00009000e+06   1.00012400e+06
   1.00015800e+06   1.00013000e+06   1.00016500e+06   1.00016200e+06
   1.00016300e+06   1.00015500e+06   1.00015700e+06   1.00013900e+06
   1.00004600e+06   1.00012500e+06   1.00000100e+06   1.00004700e+06
   1.00002500e+06   1.00020000e+06   1.00005800e+06   1.00021200e+06
   1.00012200e+06   1.00017100e+06   1.00013400e+06   1.00009600e+06
   1.00018900e+06   1.00021000e+06   1.00004900e+06   1.00008400e+06
   1.00012800e+06   1.00001800e+06   1.00000200e+06   1.00010100e+06
   1.00001500e+06   1.00016700e+06   1.00000000e+06   1.00010900e+06
   1.00007500e+06   1.00011900e+06   1.00005700e+06   1.00013800e+06
   1.00010800e+06   1.00005400e+06   1.00006500e+06   1.00016600e+06
   1.00012100e+06   1.00019900e+06   1.00005000e+06   1.00007900e+06
   1.00008700e+06   1.00001700e+06   1.00014400e+06   1.00011100e+06
   1.00006400e+06   1.00013300e+06   1.00005600e+06   1.00010400e+06
   1.00001300e+06   1.00009700e+06   1.00003800e+06   1.00003200e+06
   1.00000400e+06   1.00005100e+06   1.00008500e+06   1.00001200e+06
   1.00009800e+06   1.00002800e+06   1.00009500e+06   1.00009100e+06
   1.00004400e+06   1.00009200e+06   1.00011200e+06   1.00011000e+06
   1.00011600e+06   1.00010000e+06   1.00011400e+06   1.00006800e+06
   1.00007400e+06   1.00007000e+06   1.00001600e+06   1.00010200e+06
   1.00006200e+06   1.00009400e+06   1.00010300e+06   1.00009300e+06
   9.99999000e+05   1.00008000e+06   1.00004200e+06   1.00000900e+06
   1.00002700e+06   1.00007800e+06   1.00005200e+06   1.00007700e+06
   1.00005300e+06   1.00006700e+06   1.00001000e+06   1.00006600e+06
   1.00002200e+06   1.00002000e+06   1.00010700e+06   1.00003500e+06
   1.00003900e+06   1.00010600e+06   1.00005900e+06   1.00001400e+06
   1.00000300e+06   1.00003000e+06   1.00003300e+06   1.00004500e+06
   1.00001900e+06   9.99998000e+05   1.00003700e+06   1.00003100e+06
   1.00004300e+06   1.00006300e+06   1.00008300e+06   1.00004000e+06
   1.00004800e+06  -9.99819250e-01]
[ 0.94469005 -0.05530995  9.94469005]
[-0.02207284  0.97792716  8.97792716]
[ 0.88379369  8.88379369 -0.11620631]
[-0.02075406  9.97924594  0.97924594]
[694110866363000000  46283666363000000 608488466363000000 ...,
  34446866363000000  25374866363000000  22869266363000000]
[-0.0636612  0.9363388  8.9363388]
[-0.21894769  0.78105231  1.78105231  2.78105231  8.78105231]
[-0.15141588  0.84858412  8.84858412  1.84858412]

In [28]:
for i in headers:
    data_df[i].replace('N/A', '-1', inplace=True)

In [16]:
for i in headers:
    print data_df[i].unique()

['56' '63' '59' '62' '60' '50' '61' '57' '49' '58' '51' '54' '53' '48' '55'
 '52' '71' '46' '66' '69' '65' '67' '70' '72' '78' '68' '80' '47' '92' '84'
 '-1' '86' '88' '74' '98' '76' '64' '82' '81' '77' '45' '44' '89' '75' '85'
 '79' '41' '73' '90' '37' '83' '87' '95' '101' '96' '42' '94' '43' '40'
 '36' '106' '97' '102' '99' '91' '31' '93' '100' '103' '34' '104' '28'
 '112' '108' '105' '39' '113' '110' '116' '109' '107' '111' '114' '38' '26'
 '35' '164' '33' '32' '30' '23' '117' '16' '29' '17' '22' '24' '20' '18'
 '19' '27' '21' '25' '15' '115' '14' '13' '2' '12' '11' ' 47' ' 41' ' 11'
 ' 45' ' 34' ' 73' ' 66' '10' '9' '8' '127' '7' '6' '5' '4' '3' 23L 48L 27L
 21L 40L 22L 91L 33L 24L 20L 25L 55L 42L 74L 32L 71L 58L 39L 37L 54L 44L
 73L 45L 57L 29L 46L 26L 28L 69L 36L 63L 56L 72L 34L 50L 31L 75L 59L 47L
 81L 41L 49L 53L 62L 30L 35L 43L 60L 88L 61L 68L 38L 87L 80L 85L 84L 89L
 67L 77L 76L 70L 64L 3L 65L 51L 9L 7L 66L 12L 52L 86L 82L 18L 79L 19L 2L
 83L 16L 78L 6L 8L 17L 13L 90L 5L 10L 11L 14L 94L 15L 96L 92L 99L 4L 95L
 98L 93L 102L 100L 97L]
['255' '256' '246' '237' '254' '239' '209' '236' '250' '233' '253' '248'
 '216' '200' '107' '143' '83' '-1' '243' '228' '147' '196' '252' '211'
 '197' '208' '205' '251' '162' '218' '245' '63' '115' '9' '129' '174' '171'
 '142' '139' '31' '120' '230' '128' '150' '240' '131' '189' '249' '117'
 '125' '153' '78' '8' '244' '213' '241' '154' '247' '219' '161' '242' '62'
 '144' '234' '36' '90' '148' '133' '231' '172' '235' '224' '222' '215'
 '145' '180' '207' '238' '221' '13' '151' '28' '226' '194' '71' '134' '225'
 '186' '232' '217' '223' '220' '210' '178' '163' '166' '119' '7' '170'
 '198' '229' '91' '38' '227' '84' '203' '187' '43' '184' '176' '122' '57'
 '149' '181' '188' '206' '179' '152' '193' '183' '182' '199' '175' '177'
 '190' '101' '73' '185' '158' '75' '192' '23' '204' '195' '137' '25' '138'
 '74' '88' '156' '26' '155' '92' '126' '160' '132' '167' '164' '165' '157'
 '159' '141' '48' '127' '3' '49' '27' '202' '60' '214' '124' '173' '136'
 '98' '191' '212' '51' '86' '130' '20' '4' '103' '17' '169' '2' '111' '77'
 '121' '59' '140' '110' '56' '67' '168' '123' '201' '52' '81' '89' '19'
 '146' '113' '66' '135' '58' '106' '15' '99' '40' '34' '6' '53' '87' '14'
 '100' '30' '97' '93' '46' '94' '114' '112' '118' '102' '116' '70' '76'
 '72' '18' '104' '64' '96' '105' '95' '1' '82' '44' '11' '29' '80' '54'
 '79' '55' '69' '12' '68' '10' '24' '22' '109' '37' '41' '108' '61' '16'
 '5' '32' '35' '47' '21' '0' '39' '33' '45' '65' '85' '42' '50' '-999999'
 '    107' '     20' '      4' '    105' '    104' '     61' 9L 4L 6L 8L
 23L 0L 15L 3L 1L 7L 2L 5L 127L 11L 22L 12L 13L 14L]
[1.0 0.0 '-1']
['N' 'S' '-1']
['S' '-1' 'N']
[0.0 '-1' 1.0]
['1995-01-16' '2015-07-28' '1997-10-03' ..., '2015-12-12' '2016-03-26'
 '2016-04-24']
['V' 'H' '-1']
['F' 'A' 'N' 'B' '-1']
['01 - TOP' '02 - PARTICULARES' '-1' '03 - UNIVERSITARIO']

In [29]:
data_df['fecha_alta'].replace('-1', dt.datetime.today().strftime('%Y-%m-%d'), inplace=True)

In [30]:
days_difference = []
for i in data_df['fecha_alta']:
    days_difference.append(dt.datetime.strptime(i, '%Y-%m-%d'))
new_fecha_alta = pd.DataFrame(days_difference)

ValueError: time data '17-01-13' does not match format '%Y-%m-%d'

Below is the code where I wanted to fill the nulls with the ratio of the values that are filled in the column.

In [ ]:
total_count = data_df['segmento'].count()
unique_counts =  data_df['segmento'].value_counts()

particulares_percentage = unique_counts[0]/float(total_count)
universitario_percentage = unique_counts[1]/float(total_count)
top_percentage = unique_counts[2]/float(total_count)

print 'Particulares Percentage: ', particulares_percentage
print 'Universitario Percentage: ', universitario_percentage
print 'Top Percentage: ', top_percentage

nulls = data_df['segmento'].isnull().count()

particulares_fill_count = int(particulares_percentage*nulls)
universitario_fill_count = int(universitario_percentage*nulls)
top_fill_count = int(top_percentage*nulls)
print particulares_fill_count
print universitario_fill_count
print top_fill_count

In [ ]:
data_df.loc[data_df['segmento'].isnull()] = 'N'

In [ ]:
seg_list = list(data_df['segmento'])
print seg_list[:100]

In [ ]:
for element in seg_list:
    if element == 'N':
        count = 0
        while count < particulares_fill_count:
            seg_list[count]= '01 - PARTICULARES')
            count += 1