In [8]:
import pandas as pd
import numpy as np

In [9]:
data_df = pd.read_csv('games.csv')

In [10]:
pd.isnull(data_df).any() # Shows me all the columns that have nulls

ncodpers                 False
fecha_dato               False
age                      False
antiguedad               False
ind_actividad_cliente     True
indext                    True
indresi                   True
ind_nuevo                 True
fecha_alta                True
sexo                      True
ind_empleado              True
segmento                  True
dtype: bool

In [11]:
for i in list(data_df)[4:]:
    print i
    print pd.value_counts(data_df[i].values, sort=False)
print data_df[i].count()

ind_actividad_cliente
0.0    552639
1.0    396975
dtype: int64
indext
N    902024
S     47590
dtype: int64
indresi
N      4018
S    945596
dtype: int64
ind_nuevo
0.0    906393
1.0     43221
dtype: int64
fecha_alta
2004-05-27    102
2004-05-26    132
2004-05-25    122
2004-05-24    213
2004-05-21    120
2004-05-20    122
2004-05-28     97
1999-08-23     49
1999-08-20     24
1999-08-26     41
1999-08-27     50
1999-08-24     45
1999-08-25     39
2006-12-30     34
2006-12-31     15
2001-12-31    159
2008-05-12    113
2008-05-13    102
2008-05-10     15
2008-05-11     18
2008-05-16     94
2008-05-17     14
2008-05-14    122
2008-05-15     61
2008-05-18     21
2008-05-19    123
1999-04-08     74
1999-04-09     44
1999-04-01      9
1999-04-05     82
             ...
2012-03-07     96
2012-03-04      1
2012-03-05    172
1995-09-21     10
1995-09-20     31
1995-09-22     17
1995-09-25     64
1995-09-27     47
1995-09-26     40
1995-09-29     50
1995-09-28     49
2004-09-29    102
2004-09-28    130
2004-09-23    102
2004-09-22    120
2004-09-21    110
2004-09-20    162
2004-09-27    164
2004-09-25      4
2004-09-24     76
2012-07-06    160
2012-07-07      1
2012-07-04     80
2012-07-05    136
2012-07-02    111
2012-07-03    185
2012-07-01      2
2012-07-08      3
2012-07-09    136
2003-05-30     77
dtype: int64
sexo
V    515572
H    434037
dtype: int64
ind_empleado
N    949094
B       219
F       152
A       148
S         1
dtype: int64
segmento
01 - TOP               36034
03 - UNIVERSITARIO    350497
02 - PARTICULARES     551740
dtype: int64
938271

In [ ]:
data_df.loc[data_df['ind_empleado'].isnull()] = 'N'