In [1]:
import pandas as pd
import numpy as np

In [2]:
data_df = pd.read_csv('games.csv')

C:\Users\student01\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
pd.isnull(data_df).any() # Shows me all the columns that have nulls

ncodpers                 False
fecha_dato               False
ind_actividad_cliente     True
segmento                  True
tiprel_1mes               True
fecha_alta                True
canal_entrada             True
age                      False
sexo                      True
ind_nuevo                 True
ind_empleado              True
renta                     True
indext                    True
nomprov                   True
dtype: bool

In [28]:
print pd.value_counts(data_df['ind_actividad_cliente'].values, sort=False)
print data_df['ind_actividad_cliente'].isnull().sum()
print data_df['ind_actividad_cliente'].count()

0.0    552639
1.0    396975
dtype: int64
7031
949614

In [29]:
print pd.value_counts(data_df['segmento'].values, sort=False)
print data_df['segmento'].isnull().sum()
print data_df['segmento'].count()

01 - TOP               36034
03 - UNIVERSITARIO    350497
02 - PARTICULARES     551740
dtype: int64
18374
938271

In [31]:
print pd.value_counts(data_df['indext'].values, sort=False)
print data_df['indext'].isnull().sum()
print data_df['indext'].count()

N    902024
S     47590
dtype: int64
7031
949614

In [32]:
print pd.value_counts(data_df['tiprel_1mes'].values, sort=False)
print data_df['tiprel_1mes'].isnull().sum()
print data_df['tiprel_1mes'].count()

P       784
I    540968
R       101
A    400106
dtype: int64
14686
941959

In [33]:
print pd.value_counts(data_df['fecha_alta'].values, sort=False)
print data_df['fecha_alta'].isnull().sum()
print data_df['fecha_alta'].count()

2004-05-27    102
2004-05-26    132
2004-05-25    122
2004-05-24    213
2004-05-21    120
2004-05-20    122
2004-05-28     97
1999-08-23     49
1999-08-20     24
1999-08-26     41
1999-08-27     50
1999-08-24     45
1999-08-25     39
2006-12-30     34
2006-12-31     15
2001-12-31    159
2008-05-12    113
2008-05-13    102
2008-05-10     15
2008-05-11     18
2008-05-16     94
2008-05-17     14
2008-05-14    122
2008-05-15     61
2008-05-18     21
2008-05-19    123
1999-04-08     74
1999-04-09     44
1999-04-01      9
1999-04-05     82
             ...
2012-03-07     96
2012-03-04      1
2012-03-05    172
1995-09-21     10
1995-09-20     31
1995-09-22     17
1995-09-25     64
1995-09-27     47
1995-09-26     40
1995-09-29     50
1995-09-28     49
2004-09-29    102
2004-09-28    130
2004-09-23    102
2004-09-22    120
2004-09-21    110
2004-09-20    162
2004-09-27    164
2004-09-25      4
2004-09-24     76
2012-07-06    160
2012-07-07      1
2012-07-04     80
2012-07-05    136
2012-07-02    111
2012-07-03    185
2012-07-01      2
2012-07-08      3
2012-07-09    136
2003-05-30     77
dtype: int64
7031
949614

In [34]:
print pd.value_counts(data_df['sexo'].values, sort=False)
print data_df['sexo'].isnull().sum()
print data_df['sexo'].count()

V    515572
H    434037
dtype: int64
7036
949609

In [35]:
print pd.value_counts(data_df['ind_nuevo'].values, sort=False)
print data_df['ind_nuevo'].isnull().sum()
print data_df['ind_nuevo'].count()

0.0    906393
1.0     43221
dtype: int64
7031
949614

In [36]:
print pd.value_counts(data_df['ind_empleado'].values, sort=False)
print data_df['ind_empleado'].isnull().sum()
print data_df['ind_empleado'].count()

N    949094
B       219
F       152
A       148
S         1
dtype: int64
7031
949614

In [39]:
print pd.value_counts(data_df['nomprov'].values, sort=False)
print data_df['nomprov'].isnull().sum()
print data_df['nomprov'].count()

AVILA                       2681
MALAGA                     25096
CORDOBA                    10052
ALAVA                       2669
CEUTA                        528
CIUDAD REAL                 8241
CANTABRIA                  11062
RIOJA, LA                   5913
BARCELONA                  90493
LEON                        5871
TARRAGONA                   7828
HUELVA                      8186
OURENSE                     5712
SEGOVIA                     2939
MURCIA                     28226
ASTURIAS                   18710
SALAMANCA                  11281
LERIDA                      5523
ZARAGOZA                   23564
JAEN                        4629
SEVILLA                    41370
CASTELLON                   7323
ALICANTE                   22761
CADIZ                      20209
NAVARRA                     6144
PALENCIA                    3405
ALBACETE                    7956
LUGO                        5760
CUENCA                      3861
PONTEVEDRA                 19271
HUESCA                      2845
BADAJOZ                    13191
SANTA CRUZ DE TENERIFE      5313
PALMAS, LAS                16731
TERUEL                      1574
TOLEDO                     12953
VALENCIA                   49031
GUADALAJARA                 4810
VALLADOLID                 16340
BURGOS                      6787
ZAMORA                      3477
GIPUZKOA                    5000
CACERES                     8741
GRANADA                    12687
BIZKAIA                    12799
CORUÃ‘A, A                  29272
GIRONA                      6447
MELILLA                      654
BALEARS, ILLES              9404
MADRID                    304606
SORIA                       1284
ALMERIA                     4451
dtype: int64
10984
945661

In [ ]:
data_df.loc[data_df['ind_empleado'].isnull()] = 'N'