In [92]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%pylab inline
pylab.rcParams['figure.figsize'] = (10,10)

Populating the interactive namespace from numpy and matplotlib

WARNING: pylab import has clobbered these variables: ['f']
`%matplotlib` prevents importing * from pylab and numpy

In [93]:
f= open("C:\Users\student09\Desktop\Santander/train_ver2.csv",'r')
g = open("C:\Users\student09\Desktop\Santander/decision_tree_training1.csv", 'w')
h = open("C:\Users\student09\Desktop\Santander/test_ver2.csv", 'r')

for line in f:
    date = line[:10]
    if date == '2016-05-28':  #january month will be used
        g.write(line)

In [95]:
with open("C:\Users\student09\Desktop\Santander/train_ver2.csv", 'r') as f:
    cols = f.readline().split(',')
with open("C:\Users\student09\Desktop\Santander/test_ver2.csv", 'r') as h:
    cols_t = h.readline().split(',')

In [96]:
cols = [s.replace('"','') for s in cols]
cols_t = [s.replace('"','') for s in cols_t]

In [98]:
df = pd.read_csv("C:\Users\student09\Desktop\Santander/decision_tree_training1.csv", dtype={'indrel_1mes': str, 'conyuemp': str}, names=cols)
df_t = pd.read_csv("C:\Users\student09\Desktop\Santander/test_ver2.csv", dtype={'indrel_1mes': str, 'conyuemp': str}, names=cols)

In [99]:
df_t = df_t.ix[1:] #deletes the first row since it's messed up

In [100]:
del df['fecha_dato']
del df['ncodpers']
del df['tipodom']
del df['ult_fec_cli_1t']
del df['conyuemp']
del df_t['fecha_dato']
#del df_t['ncodpers']
del df_t['tipodom']
del df_t['ult_fec_cli_1t']
del df_t['conyuemp']

In [101]:
from sklearn import preprocessing

for f in df.columns:
    if df[f].dtype == 'object':
        print(f)
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(df[f].values))
        df[f] = lbl.transform(list(df[f].values))

for h in df_t.columns:
    if df_t[h].dtype == 'object':
        print(h)
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(df_t[h].values))
        df_t[h] = lbl.transform(list(df_t[h].values))

ind_empleado
pais_residencia
sexo
fecha_alta
indrel_1mes
tiprel_1mes
indresi
indext
canal_entrada
indfall
nomprov
segmento
ncodpers
ind_empleado
pais_residencia
sexo
age
fecha_alta
ind_nuevo
antiguedad
indrel
indrel_1mes
tiprel_1mes
indresi
indext
canal_entrada
indfall
cod_prov
nomprov
ind_actividad_cliente
renta
segmento

In [102]:
df_t = df_t.iloc[:,:20] #removes product columns from test dataset since they are all Null

In [103]:
df.dtypes #may have to change data type to simpler types

ind_empleado               int64
pais_residencia            int64
sexo                       int64
age                        int64
fecha_alta                 int64
ind_nuevo                  int64
antiguedad                 int64
indrel                     int64
indrel_1mes                int64
tiprel_1mes                int64
indresi                    int64
indext                     int64
canal_entrada              int64
indfall                    int64
cod_prov                 float64
nomprov                    int64
ind_actividad_cliente      int64
renta                    float64
segmento                   int64
ind_ahor_fin_ult1          int64
ind_aval_fin_ult1          int64
ind_cco_fin_ult1           int64
ind_cder_fin_ult1          int64
ind_cno_fin_ult1           int64
ind_ctju_fin_ult1          int64
ind_ctma_fin_ult1          int64
ind_ctop_fin_ult1          int64
ind_ctpp_fin_ult1          int64
ind_deco_fin_ult1          int64
ind_deme_fin_ult1          int64
ind_dela_fin_ult1          int64
ind_ecue_fin_ult1          int64
ind_fond_fin_ult1          int64
ind_hip_fin_ult1           int64
ind_plan_fin_ult1          int64
ind_pres_fin_ult1          int64
ind_reca_fin_ult1          int64
ind_tjcr_fin_ult1          int64
ind_valo_fin_ult1          int64
ind_viv_fin_ult1           int64
ind_nomina_ult1            int64
ind_nom_pens_ult1          int64
ind_recibo_ult1\n          int64
dtype: object

In [104]:
df_t.dtypes

ncodpers                 int64
ind_empleado             int64
pais_residencia          int64
sexo                     int64
age                      int64
fecha_alta               int64
ind_nuevo                int64
antiguedad               int64
indrel                   int64
indrel_1mes              int64
tiprel_1mes              int64
indresi                  int64
indext                   int64
canal_entrada            int64
indfall                  int64
cod_prov                 int64
nomprov                  int64
ind_actividad_cliente    int64
renta                    int64
segmento                 int64
dtype: object

In [105]:
df_t.columns[1:]

Index([u'ind_empleado', u'pais_residencia', u'sexo', u'age', u'fecha_alta',
       u'ind_nuevo', u'antiguedad', u'indrel', u'indrel_1mes', u'tiprel_1mes',
       u'indresi', u'indext', u'canal_entrada', u'indfall', u'cod_prov',
       u'nomprov', u'ind_actividad_cliente', u'renta', u'segmento'],
      dtype='object')

In [106]:
df =  df.loc[:931435] #the last row is fucked, like our mood

In [107]:
df.iloc[:,19:] = df.iloc[:,19:].astype('int8') #changes product data types to boolean to save on memory

In [108]:
#df.loc[931436,'indext'] = 0
#df.loc[931436,'indfall'] = 0 #one value is messing up the boolean aspect of the dataframe
# a work around for this cell is to fully delete the last row, as it turns out to be very problematic.

In [109]:
df[['sexo','ind_nuevo','indext','indfall','ind_actividad_cliente','indresi']] = df[['sexo','ind_nuevo','indext','indfall','ind_actividad_cliente','indresi']].astype('bool')

In [110]:
for f in df.columns:
    if df[f].dtype == 'float64':
        print(f)
        df[f] = df[f].astype('float32') #changes float64 datatypes to float 32 to conserve memory (decision tree algorithm doesnt like data-types too big)

cod_prov
renta

In [111]:
for f in df.columns:
    if df[f].dtype == 'int64':
        print(f)
        df[f] = df[f].astype('int16')
        
for h in df_t.columns[1:]:
    if df_t[h].dtype == 'int64':
        print(h)
        df_t[h] = df_t[h].astype('int8')

ind_empleado
pais_residencia
age
fecha_alta
antiguedad
indrel
indrel_1mes
tiprel_1mes
canal_entrada
nomprov
segmento
ind_empleado
pais_residencia
sexo
age
fecha_alta
ind_nuevo
antiguedad
indrel
indrel_1mes
tiprel_1mes
indresi
indext
canal_entrada
indfall
cod_prov
nomprov
ind_actividad_cliente
renta
segmento

In [112]:
df_t.dtypes

ncodpers                 int64
ind_empleado              int8
pais_residencia           int8
sexo                      int8
age                       int8
fecha_alta                int8
ind_nuevo                 int8
antiguedad                int8
indrel                    int8
indrel_1mes               int8
tiprel_1mes               int8
indresi                   int8
indext                    int8
canal_entrada             int8
indfall                   int8
cod_prov                  int8
nomprov                   int8
ind_actividad_cliente     int8
renta                     int8
segmento                  int8
dtype: object

In [113]:
df_backup = df  #back up in case of everything dying
df_t_backup = df_t

In [114]:
df_t.head()

,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,indrel_1mes,tiprel_1mes,indresi,indext,canal_entrada,indfall,cod_prov,nomprov,ind_actividad_cliente,renta,segmento
1,0,2,36,1,52,0,0,33,0,0,0,1,0,24,0,49,30,1,21,0
2,138992,3,36,0,32,-91,0,32,0,0,1,1,0,24,0,2,2,0,0,1
3,138993,3,36,1,18,-91,0,32,0,0,0,1,0,-106,0,21,18,1,0,2
4,138994,3,36,0,18,-91,0,32,0,0,1,1,0,-106,0,7,8,0,-82,2
5,138995,3,36,0,18,-91,0,32,0,0,1,1,0,-106,0,6,7,0,-15,2

In [115]:
#real stuff occurs now
from sklearn import tree
#from sklearn.ensemble import DecisionTreeClassifier

In [116]:
products = ['ind_ahor_fin_ult1','ind_aval_fin_ult1','ind_cco_fin_ult1','ind_cder_fin_ult1','ind_cno_fin_ult1','ind_ctju_fin_ult1','ind_ctma_fin_ult1','ind_ctop_fin_ult1','ind_ctpp_fin_ult1','ind_deco_fin_ult1','ind_deme_fin_ult1','ind_dela_fin_ult1','ind_ecue_fin_ult1','ind_fond_fin_ult1','ind_hip_fin_ult1','ind_plan_fin_ult1','ind_pres_fin_ult1','ind_reca_fin_ult1','ind_tjcr_fin_ult1','ind_valo_fin_ult1','ind_viv_fin_ult1','ind_nomina_ult1','ind_nom_pens_ult1','ind_recibo_ult1\n']
descriptors = ['ind_actividad_cliente','segmento','tiprel_1mes','fecha_alta','canal_entrada','age','sexo']

In [117]:
target = df[products].values
features = df[descriptors].values
#target_t = df_t[products].values
features_t = df_t[descriptors].values

In [118]:
my_tree_one = tree.DecisionTreeClassifier()
my_tree_one = my_tree_one.fit(features,target)

In [119]:
my_tree_one.score(features,target)

0.86893248704151438

In [121]:
predictions = my_tree_one.predict_proba(features_t)

In [ ]:
# trying to unnest the nested arrays
from itertools import chain
print list(chain.from_iterable(predictions))

.flatten()
.reshape()

In [ ]:
pred = predictions.reshape()

In [122]:
#trans = np.transpose(predictions)

In [123]:
predictDF = pd.DataFrame(predictions)

ValueError: Must pass 2-d input

In [99]:
predictDF = predictDF.astype('int8') #make dataframe smaller for memory reasons

In [100]:
predictDF.columns = products #renaming column names to the product names

In [101]:
predictDF.head()

,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,0,0,1,0,0,0,0,0,0,0,...,0,1,0,1,0,1,0,0,0,1
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [44]:
wow = pd.DataFrame(predictDF.unstack())

In [45]:
filtered = wow[wow[0] == 1]
filtered = filtered.ix[:,1:]

In [ ]:
filtered.to_csv("C:\GIT\Santander/Ali/1st-submission.csv")

In [46]:
filtered.head()

Empty DataFrame
Columns: []
Index: [(ind_ahor_fin_ult1, 26359), (ind_ahor_fin_ult1, 61551), (ind_ahor_fin_ult1, 80538), (ind_ahor_fin_ult1, 80746), (ind_ahor_fin_ult1, 83911)]