In [1]:
import numpy as np
import pandas as pd 
import graphlab as gl
from sklearn import preprocessing

In [2]:
f= open("C:\Users\student06\Desktop\Santander\\train_ver3.csv",'r')
g = open("C:\Users\student06\Desktop\Santander/decision_tree_training2.csv", 'w')

for line in f:
    date = line[:10]
    if date == '2016-05-28':  #may month will be used
        g.write(line)

In [3]:
with open("C:\Users\student06\Desktop\Santander\\train_ver3.csv", 'r') as f:
    cols = f.readline().split(',')

In [4]:
cols = [s.replace('"','') for s in cols]

In [5]:
df = pd.read_csv("C:\Users\student06\Desktop\Santander/decision_tree_training2.csv", dtype={'indrel_1mes': str, 'conyuemp': str}, names=cols)

In [6]:
type(df) #The data is in a oandas DataFrame, we can now explore it and clean it

pandas.core.frame.DataFrame

In [7]:
df.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2016-05-28,657640,N,ES,H,68,2006-11-17,0.0,114.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2016-05-28,657788,N,ES,H,42,2006-11-18,0.0,114.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2016-05-28,657795,N,ES,V,44,2006-11-18,0.0,114.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2016-05-28,657790,N,ES,V,42,2006-11-18,0.0,114.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0
4,2016-05-28,657794,N,ES,H,49,2006-11-18,0.0,114.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
df.dtypes
#We do not want columns to be of type object because we can not put them into SFrame later when using the algorithms
#The data types are also too large

fecha_dato                object
ncodpers                   int64
ind_empleado              object
pais_residencia           object
sexo                      object
age                        int64
fecha_alta                object
ind_nuevo                float64
antiguedad               float64
indrel                   float64
ult_fec_cli_1t            object
indrel_1mes               object
tiprel_1mes               object
indresi                   object
indext                    object
conyuemp                  object
canal_entrada             object
indfall                   object
tipodom                  float64
cod_prov                 float64
nomprov                   object
ind_actividad_cliente    float64
renta                    float64
segmento                  object
ind_ahor_fin_ult1        float64
ind_aval_fin_ult1        float64
ind_cco_fin_ult1         float64
ind_cder_fin_ult1        float64
ind_cno_fin_ult1         float64
ind_ctju_fin_ult1        float64
ind_ctma_fin_ult1        float64
ind_ctop_fin_ult1        float64
ind_ctpp_fin_ult1        float64
ind_deco_fin_ult1        float64
ind_deme_fin_ult1        float64
ind_dela_fin_ult1        float64
ind_ecue_fin_ult1        float64
ind_fond_fin_ult1        float64
ind_hip_fin_ult1         float64
ind_plan_fin_ult1        float64
ind_pres_fin_ult1        float64
ind_reca_fin_ult1        float64
ind_tjcr_fin_ult1        float64
ind_valo_fin_ult1        float64
ind_viv_fin_ult1         float64
ind_nomina_ult1          float64
ind_nom_pens_ult1        float64
ind_recibo_ult1\n        float64
dtype: object

In [9]:
#We change the objects and complete preprocessing
for f in df.columns:
    if df[f].dtype == 'object':
        print(f)
        lbl = preprocessing.LabelEncoder()
        lbl.fit(list(df[f].values))
        df[f] = lbl.transform(list(df[f].values))

fecha_dato
ind_empleado
pais_residencia
sexo
fecha_alta
ult_fec_cli_1t
indrel_1mes
tiprel_1mes
indresi
indext
conyuemp
canal_entrada
indfall
nomprov
segmento

In [10]:
df.dtypes #Now reduce the size

fecha_dato                 int64
ncodpers                   int64
ind_empleado               int64
pais_residencia            int64
sexo                       int64
age                        int64
fecha_alta                 int64
ind_nuevo                float64
antiguedad               float64
indrel                   float64
ult_fec_cli_1t             int64
indrel_1mes                int64
tiprel_1mes                int64
indresi                    int64
indext                     int64
conyuemp                   int64
canal_entrada              int64
indfall                    int64
tipodom                  float64
cod_prov                 float64
nomprov                    int64
ind_actividad_cliente    float64
renta                    float64
segmento                   int64
ind_ahor_fin_ult1        float64
ind_aval_fin_ult1        float64
ind_cco_fin_ult1         float64
ind_cder_fin_ult1        float64
ind_cno_fin_ult1         float64
ind_ctju_fin_ult1        float64
ind_ctma_fin_ult1        float64
ind_ctop_fin_ult1        float64
ind_ctpp_fin_ult1        float64
ind_deco_fin_ult1        float64
ind_deme_fin_ult1        float64
ind_dela_fin_ult1        float64
ind_ecue_fin_ult1        float64
ind_fond_fin_ult1        float64
ind_hip_fin_ult1         float64
ind_plan_fin_ult1        float64
ind_pres_fin_ult1        float64
ind_reca_fin_ult1        float64
ind_tjcr_fin_ult1        float64
ind_valo_fin_ult1        float64
ind_viv_fin_ult1         float64
ind_nomina_ult1          float64
ind_nom_pens_ult1        float64
ind_recibo_ult1\n        float64
dtype: object

In [11]:
for x in df.columns:
    if df[x].dtypes == 'int64':
        df[x] = df[x].astype('int32')
    if df[x].dtypes == 'float64':
        df[x] = df[x].astype('float32')
#Check out this double if loop Lawrence I know you're loving this

In [12]:
df.dtypes

fecha_dato                 int32
ncodpers                   int32
ind_empleado               int32
pais_residencia            int32
sexo                       int32
age                        int32
fecha_alta                 int32
ind_nuevo                float32
antiguedad               float32
indrel                   float32
ult_fec_cli_1t             int32
indrel_1mes                int32
tiprel_1mes                int32
indresi                    int32
indext                     int32
conyuemp                   int32
canal_entrada              int32
indfall                    int32
tipodom                  float32
cod_prov                 float32
nomprov                    int32
ind_actividad_cliente    float32
renta                    float32
segmento                   int32
ind_ahor_fin_ult1        float32
ind_aval_fin_ult1        float32
ind_cco_fin_ult1         float32
ind_cder_fin_ult1        float32
ind_cno_fin_ult1         float32
ind_ctju_fin_ult1        float32
ind_ctma_fin_ult1        float32
ind_ctop_fin_ult1        float32
ind_ctpp_fin_ult1        float32
ind_deco_fin_ult1        float32
ind_deme_fin_ult1        float32
ind_dela_fin_ult1        float32
ind_ecue_fin_ult1        float32
ind_fond_fin_ult1        float32
ind_hip_fin_ult1         float32
ind_plan_fin_ult1        float32
ind_pres_fin_ult1        float32
ind_reca_fin_ult1        float32
ind_tjcr_fin_ult1        float32
ind_valo_fin_ult1        float32
ind_viv_fin_ult1         float32
ind_nomina_ult1          float32
ind_nom_pens_ult1        float32
ind_recibo_ult1\n        float32
dtype: object

In [13]:
#The data is not in the form required by the GraphLab alrogithms, it has to consist of three columns, ncodpers, products, ratings
products = df[['ind_ahor_fin_ult1','ind_aval_fin_ult1','ind_cco_fin_ult1','ind_cder_fin_ult1','ind_cno_fin_ult1','ind_ctju_fin_ult1','ind_ctma_fin_ult1','ind_ctop_fin_ult1','ind_ctpp_fin_ult1','ind_deco_fin_ult1','ind_deme_fin_ult1','ind_dela_fin_ult1','ind_ecue_fin_ult1','ind_fond_fin_ult1','ind_hip_fin_ult1','ind_plan_fin_ult1','ind_pres_fin_ult1','ind_reca_fin_ult1','ind_tjcr_fin_ult1','ind_valo_fin_ult1','ind_viv_fin_ult1','ind_nomina_ult1','ind_nom_pens_ult1','ind_recibo_ult1\n']]

In [14]:
products =  products.loc[:931435]

In [15]:
for x in products.columns:
    if products[x].dtypes == 'float32':
        products[x] = products[x].astype('int32')

In [16]:
products.dtypes

ind_ahor_fin_ult1    int32
ind_aval_fin_ult1    int32
ind_cco_fin_ult1     int32
ind_cder_fin_ult1    int32
ind_cno_fin_ult1     int32
ind_ctju_fin_ult1    int32
ind_ctma_fin_ult1    int32
ind_ctop_fin_ult1    int32
ind_ctpp_fin_ult1    int32
ind_deco_fin_ult1    int32
ind_deme_fin_ult1    int32
ind_dela_fin_ult1    int32
ind_ecue_fin_ult1    int32
ind_fond_fin_ult1    int32
ind_hip_fin_ult1     int32
ind_plan_fin_ult1    int32
ind_pres_fin_ult1    int32
ind_reca_fin_ult1    int32
ind_tjcr_fin_ult1    int32
ind_valo_fin_ult1    int32
ind_viv_fin_ult1     int32
ind_nomina_ult1      int32
ind_nom_pens_ult1    int32
ind_recibo_ult1\n    int32
dtype: object

In [17]:
stack_products = products.stack().to_frame()

In [18]:
stack_products #The products and ratings are in the required format

                          0
0      ind_ahor_fin_ult1  0
       ind_aval_fin_ult1  0
       ind_cco_fin_ult1   0
       ind_cder_fin_ult1  0
       ind_cno_fin_ult1   0
       ind_ctju_fin_ult1  0
       ind_ctma_fin_ult1  0
       ind_ctop_fin_ult1  0
       ind_ctpp_fin_ult1  0
       ind_deco_fin_ult1  0
       ind_deme_fin_ult1  0
       ind_dela_fin_ult1  0
       ind_ecue_fin_ult1  0
       ind_fond_fin_ult1  0
       ind_hip_fin_ult1   0
       ind_plan_fin_ult1  0
       ind_pres_fin_ult1  0
       ind_reca_fin_ult1  0
       ind_tjcr_fin_ult1  0
       ind_valo_fin_ult1  0
       ind_viv_fin_ult1   0
       ind_nomina_ult1    0
       ind_nom_pens_ult1  0
       ind_recibo_ult1\n  0
1      ind_ahor_fin_ult1  0
       ind_aval_fin_ult1  0
       ind_cco_fin_ult1   1
       ind_cder_fin_ult1  0
       ind_cno_fin_ult1   0
       ind_ctju_fin_ult1  0
...                      ..
931434 ind_tjcr_fin_ult1  0
       ind_valo_fin_ult1  0
       ind_viv_fin_ult1   0
       ind_nomina_ult1    0
       ind_nom_pens_ult1  0
       ind_recibo_ult1\n  0
931435 ind_ahor_fin_ult1  0
       ind_aval_fin_ult1  0
       ind_cco_fin_ult1   1
       ind_cder_fin_ult1  0
       ind_cno_fin_ult1   0
       ind_ctju_fin_ult1  0
       ind_ctma_fin_ult1  0
       ind_ctop_fin_ult1  0
       ind_ctpp_fin_ult1  0
       ind_deco_fin_ult1  0
       ind_deme_fin_ult1  0
       ind_dela_fin_ult1  0
       ind_ecue_fin_ult1  0
       ind_fond_fin_ult1  0
       ind_hip_fin_ult1   0
       ind_plan_fin_ult1  0
       ind_pres_fin_ult1  0
       ind_reca_fin_ult1  0
       ind_tjcr_fin_ult1  0
       ind_valo_fin_ult1  0
       ind_viv_fin_ult1   0
       ind_nomina_ult1    0
       ind_nom_pens_ult1  0
       ind_recibo_ult1\n  0

[22354464 rows x 1 columns]

In [19]:
users = df['ncodpers']

In [20]:
users.head().to_frame()

   ncodpers
0    657640
1    657788
2    657795
3    657790
4    657794

In [27]:
stack_prod = stack_products.reset_index()

In [22]:
a = np.array(users)

In [23]:
values = np.repeat(a, 24)

In [24]:
userDF = pd.DataFrame(values)

In [25]:
userDF

                0
0          657640
1          657640
2          657640
3          657640
4          657640
5          657640
6          657640
7          657640
8          657640
9          657640
10         657640
11         657640
12         657640
13         657640
14         657640
15         657640
16         657640
17         657640
18         657640
19         657640
20         657640
21         657640
22         657640
23         657640
24         657788
25         657788
26         657788
27         657788
28         657788
29         657788
...           ...
22354458  1166778
22354459  1166778
22354460  1166778
22354461  1166778
22354462  1166778
22354463  1166778
22354464  1166777
22354465  1166777
22354466  1166777
22354467  1166777
22354468  1166777
22354469  1166777
22354470  1166777
22354471  1166777
22354472  1166777
22354473  1166777
22354474  1166777
22354475  1166777
22354476  1166777
22354477  1166777
22354478  1166777
22354479  1166777
22354480  1166777
22354481  1166777
22354482  1166777
22354483  1166777
22354484  1166777
22354485  1166777
22354486  1166777
22354487  1166777

[22354488 rows x 1 columns]

In [28]:
stack_prod

          level_0            level_1  0
0               0  ind_ahor_fin_ult1  0
1               0  ind_aval_fin_ult1  0
2               0   ind_cco_fin_ult1  0
3               0  ind_cder_fin_ult1  0
4               0   ind_cno_fin_ult1  0
5               0  ind_ctju_fin_ult1  0
6               0  ind_ctma_fin_ult1  0
7               0  ind_ctop_fin_ult1  0
8               0  ind_ctpp_fin_ult1  0
9               0  ind_deco_fin_ult1  0
10              0  ind_deme_fin_ult1  0
11              0  ind_dela_fin_ult1  0
12              0  ind_ecue_fin_ult1  0
13              0  ind_fond_fin_ult1  0
14              0   ind_hip_fin_ult1  0
15              0  ind_plan_fin_ult1  0
16              0  ind_pres_fin_ult1  0
17              0  ind_reca_fin_ult1  0
18              0  ind_tjcr_fin_ult1  0
19              0  ind_valo_fin_ult1  0
20              0   ind_viv_fin_ult1  0
21              0    ind_nomina_ult1  0
22              0  ind_nom_pens_ult1  0
23              0  ind_recibo_ult1\n  0
24              1  ind_ahor_fin_ult1  0
25              1  ind_aval_fin_ult1  0
26              1   ind_cco_fin_ult1  1
27              1  ind_cder_fin_ult1  0
28              1   ind_cno_fin_ult1  0
29              1  ind_ctju_fin_ult1  0
...           ...                ... ..
22354434   931434  ind_tjcr_fin_ult1  0
22354435   931434  ind_valo_fin_ult1  0
22354436   931434   ind_viv_fin_ult1  0
22354437   931434    ind_nomina_ult1  0
22354438   931434  ind_nom_pens_ult1  0
22354439   931434  ind_recibo_ult1\n  0
22354440   931435  ind_ahor_fin_ult1  0
22354441   931435  ind_aval_fin_ult1  0
22354442   931435   ind_cco_fin_ult1  1
22354443   931435  ind_cder_fin_ult1  0
22354444   931435   ind_cno_fin_ult1  0
22354445   931435  ind_ctju_fin_ult1  0
22354446   931435  ind_ctma_fin_ult1  0
22354447   931435  ind_ctop_fin_ult1  0
22354448   931435  ind_ctpp_fin_ult1  0
22354449   931435  ind_deco_fin_ult1  0
22354450   931435  ind_deme_fin_ult1  0
22354451   931435  ind_dela_fin_ult1  0
22354452   931435  ind_ecue_fin_ult1  0
22354453   931435  ind_fond_fin_ult1  0
22354454   931435   ind_hip_fin_ult1  0
22354455   931435  ind_plan_fin_ult1  0
22354456   931435  ind_pres_fin_ult1  0
22354457   931435  ind_reca_fin_ult1  0
22354458   931435  ind_tjcr_fin_ult1  0
22354459   931435  ind_valo_fin_ult1  0
22354460   931435   ind_viv_fin_ult1  0
22354461   931435    ind_nomina_ult1  0
22354462   931435  ind_nom_pens_ult1  0
22354463   931435  ind_recibo_ult1\n  0

[22354464 rows x 3 columns]

In [29]:
results = pd.concat([userDF,stack_prod], axis=1)

In [30]:
results

                0   level_0            level_1    0
0          657640       0.0  ind_ahor_fin_ult1  0.0
1          657640       0.0  ind_aval_fin_ult1  0.0
2          657640       0.0   ind_cco_fin_ult1  0.0
3          657640       0.0  ind_cder_fin_ult1  0.0
4          657640       0.0   ind_cno_fin_ult1  0.0
5          657640       0.0  ind_ctju_fin_ult1  0.0
6          657640       0.0  ind_ctma_fin_ult1  0.0
7          657640       0.0  ind_ctop_fin_ult1  0.0
8          657640       0.0  ind_ctpp_fin_ult1  0.0
9          657640       0.0  ind_deco_fin_ult1  0.0
10         657640       0.0  ind_deme_fin_ult1  0.0
11         657640       0.0  ind_dela_fin_ult1  0.0
12         657640       0.0  ind_ecue_fin_ult1  0.0
13         657640       0.0  ind_fond_fin_ult1  0.0
14         657640       0.0   ind_hip_fin_ult1  0.0
15         657640       0.0  ind_plan_fin_ult1  0.0
16         657640       0.0  ind_pres_fin_ult1  0.0
17         657640       0.0  ind_reca_fin_ult1  0.0
18         657640       0.0  ind_tjcr_fin_ult1  0.0
19         657640       0.0  ind_valo_fin_ult1  0.0
20         657640       0.0   ind_viv_fin_ult1  0.0
21         657640       0.0    ind_nomina_ult1  0.0
22         657640       0.0  ind_nom_pens_ult1  0.0
23         657640       0.0  ind_recibo_ult1\n  0.0
24         657788       1.0  ind_ahor_fin_ult1  0.0
25         657788       1.0  ind_aval_fin_ult1  0.0
26         657788       1.0   ind_cco_fin_ult1  1.0
27         657788       1.0  ind_cder_fin_ult1  0.0
28         657788       1.0   ind_cno_fin_ult1  0.0
29         657788       1.0  ind_ctju_fin_ult1  0.0
...           ...       ...                ...  ...
22354458  1166778  931435.0  ind_tjcr_fin_ult1  0.0
22354459  1166778  931435.0  ind_valo_fin_ult1  0.0
22354460  1166778  931435.0   ind_viv_fin_ult1  0.0
22354461  1166778  931435.0    ind_nomina_ult1  0.0
22354462  1166778  931435.0  ind_nom_pens_ult1  0.0
22354463  1166778  931435.0  ind_recibo_ult1\n  0.0
22354464  1166777       NaN                NaN  NaN
22354465  1166777       NaN                NaN  NaN
22354466  1166777       NaN                NaN  NaN
22354467  1166777       NaN                NaN  NaN
22354468  1166777       NaN                NaN  NaN
22354469  1166777       NaN                NaN  NaN
22354470  1166777       NaN                NaN  NaN
22354471  1166777       NaN                NaN  NaN
22354472  1166777       NaN                NaN  NaN
22354473  1166777       NaN                NaN  NaN
22354474  1166777       NaN                NaN  NaN
22354475  1166777       NaN                NaN  NaN
22354476  1166777       NaN                NaN  NaN
22354477  1166777       NaN                NaN  NaN
22354478  1166777       NaN                NaN  NaN
22354479  1166777       NaN                NaN  NaN
22354480  1166777       NaN                NaN  NaN
22354481  1166777       NaN                NaN  NaN
22354482  1166777       NaN                NaN  NaN
22354483  1166777       NaN                NaN  NaN
22354484  1166777       NaN                NaN  NaN
22354485  1166777       NaN                NaN  NaN
22354486  1166777       NaN                NaN  NaN
22354487  1166777       NaN                NaN  NaN

[22354488 rows x 4 columns]